@using Microsoft.AspNetCore.Builder
@using Microsoft.AspNetCore.Http.Features
@using Microsoft.AspNetCore.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Options

@model FakeApplication.Models.ViewModels.IndexViewModel;

<div id="p_prldr"><div class="contpre"><span class="svg_anm"></span><br>Подождите<br><small>идет загрузка</small></div></div>

@inject IViewLocalizer Localizer
@inject IOptions<RequestLocalizationOptions> LocOptions

    @{
    // получаем сервис IRequestCultureFeature
    var requestCulture = Context.Features.Get<IRequestCultureFeature>();
        // получаем список поддерживаемых культур
        var cultureItems = LocOptions.Value.SupportedUICultures
        .Select(c => new SelectListItem { Value = c.Name, Text = c.DisplayName })
        .ToList();
        }


        <div id="header" class="main_flex flex__jcontent_center flex__align-content_space-between">
            <div id="top_header" class="wrap main_flex__nowrap flex__align-items_center flex__jcontent_between">
                <div id="phone">
                    <form asp-controller="Home" asp-action="SetLanguage" style="margin-top:20px;"
                          asp-route-returnUrl="@Context.Request.Path"
                          method="post" class="form-horizontal">
                        @Localizer["Language:"] <select id="language" name="culture" onchange="this.form.submit();"
                                                        asp-for="@requestCulture.RequestCulture.UICulture.Name"
                                                        asp-items="cultureItems"></select>
                    </form>
                </div>

                @*<div id="logo">
                                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 115 76" enable-background="new 0 0 115 76" xml:space="preserve">  <image id="image0" width="115" height="76" x="0" y="0"
                                                                                                                                                                                                                                       xlink:href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAHMAAABMCAQAAAD0ZkAVAAAABGdBTUEAALGPC/xhBQAAACBjSFJN
                    AAB6JQAAgIMAAPn/AACA6AAAUggAARVYAAA6lwAAF2/XWh+QAAAAAmJLR0QA/4ePzL8AAAAJcEhZ
                    cwAACxMAAAsTAQCanBgAAAAHdElNRQfjBx8WMhF5NfMUAAAKXUlEQVR42u2baXBVRRbHf0leViUB
                    WWRxYhxilSWCOM7IoowBN4agRMsFWTQWzoDiIDqOK4vWjERKx4kIJYgggWKkRCDIIJlAIZsojgsI
                    qDggiAgKGAhGQkLy/vOBm5u+79235pGkKM/9kHO7T593/n36nu4+3YkTjUaFtCS/8X7OpLhGg9mB
                    r0nkInY2Bcz4RvulJ0ghgXFNAbLxvJnJThKB2qbxZ2N580kSAZrKn43jzQvYYcFsIn82jjcn2iCb
                    yJ+N4c1sviTBeG8CfzaGNyc4QEICjzQuSEDRPHO0Rl3ClL1YXvlStTLDbJ2jLRoflY2OJ7pmwyWd
                    VIHSwpBdIDeaHkbLdporSerRVDAzdFKStFu5ISS7Gr6sUHXY/ozXKB2RJH2ruKaCiUpsg9/SeUHk
                    ig0PPqcZYfrzMm2y5V5uOMjoYY40DD6msfIEMFeGL9soWzUh/Zmul1RrtOvblDDb+QSWT3SFi9Tb
                    hsQLQuiNEP68Qwcceg8poSlhovU+QcWracpwSPQ0aivVQQh1DRJvL9RKv1A1KxYgGwLzIZf4eUB3
                    GhIlRk2hq4dfsktT9IxOuGgMFeJOO8xMuVOpsoXQlS6+DOTjG7TTVVe5kpsaJvo4ANATGq9krXH1
                    JUKr7fKN6qxOelOBaEFsQDYM5lMKTHsD+BKhayVJ+zVciRqrY0G03NYcYF5kGPRfLQlobKFfy/Wa
                    rBbqqc0+kl5N1z6je85uDjDRlw6TrtPnLiB9fYmQR+foVb+17gZd5ui6t2MFsqEwnzWMGizk0UMq
                    D+nLOOXroI/UdxqiOKHxRtndzQXm5YZRi6yydppl+Klav1J/Tdc5dpsuWucDsUoF9vDcbpeeNNo0
                    MUyMUFNlLA5+p/et0hlC6ySV6T4l6CxNthb99bTMmoCQc/GwKnYgGw7zn4Zhwx0D824dUI2y1duu
                    36JvfCDuUH+Htr8Zdfc1J5h9HH5x1qXrVjlXPSYd01+V5NOiPqR51bE5wYw3gkmVz5r2VP07riCL
                    1N5P1hyyG2MJUg3OBXlZYvNJ3ORSP4Cb2OUo+4he3M33frK3G/yi5pALMp/+hg+WB5BJ1hOqkCQd
                    1AjFB5Ay17WdY+vNhqtINGbKYJNAJ03XZJdhXfeYk9Pm2IKMBUw0zzBwRNRanjO0xCCX53xikact
                    NvjbotZitiyOVsnp+zZRqiobvHYxh+xXQnG6Rt2blzcrecfma7g6Kh05nLT5xcAY+jKKfrFyZmzO
                    UK6hL7v4mp3sJ1qFCWTyazqTzVy2MY40ajjMlOYEM/b0W3JJ5AWOntkwY0yNd/fgF5hnFsw0n3PO
                    RiQPa3ie5RG1iaOAGvtovS1DLW42x4K0asvnzOPhoJofoCt/pjoia3owiaH2RuBGOgPwKWtpzxgq
                    qGUaDyKpWsMimGrj9YqkYvu9uz2tZwVtt1CSV32CyhRKWqmzIrCmp8odv1x3AlcohPKVpXc1U+vj
                    gUTmMSbMvktgHqOiGDW3cSsQx1zODiF5LatpE6bWfqwmPYTMh3RhE7Yvngmj75LsDHlk3mytH2yp
                    YOeahZbM9qBnpnXPAB33+2WnN10WexOYGiIgJfFWlEvzKbSz+ZFcH1L+Yt7jwhAyN1FMargGmMBG
                    M5+kgJJprODGqEDmMcTx/jotQ7bJZCO/CVI/lMXGXaOIYMJglpLmKpfB8igX0q2ZbnH/oQaAjmGt
                    VNvwLn0D1N3D3MgmJ99h2p9VLn2dQSk5UYGEKZwLwLfcztNW2XDywmiZzgpXufuYHfF8b4eG4za3
                    1Sd52NY40qmOMATl2bXXC3n0ofV2UG2DhKB6W2p1j4/Mo362RBSC/sg2i7uE9WTb5R1YzaUWv4jX
                    IurD+gH7GqVADXdRBUBbXgnSrpSJFhfPbP5i1IxjssUdZng03sxRK/tIQPpe3YTQeUa+bb4S7P4O
                    z5vzrZq9SrfLxtryQwN6s1hotHGfpMC6G1SfLzqkrsoK35smTJRm3Bco11XK1m77/TUl+BgSCqZz
                    wNavotZapWXqFAQmGmwMy5nyaIr9tk9dRPQwUZJx+ey49tv8K1Z/hg+ztb63TXSCucDK2UrLfW5w
                    +Wrvb3yl9aNqn3W4FAFM34hVzRCmWXwqHSzuBe4n0v13XYQt42WyHI940ZIZwL1BdZTQjyMW39n6
                    u4urIr+m6vEr8fIAPzLBKJnM45GqNZYE57AliNw/WMXuIPUfcDUr6GS/7yKHfRFbE2D+mciDNv9k
                    FCDrI2woasFs4oJKbKWPfQazjd7RgAy8rZ7CME4Cj1MQhda6ARsO5Rhd6k676c1mYAv9OBgNSLdB
                    W0fz+YGWvBWFzvoBO4uKIHJX0AuASaxgR1CNB8lhNNMojw5kMJiwKiqN9QO2KESAacM2zgVSKeJK
                    aoPKljMpWohwOnJBdQN2P2NDSB5mpMX14LGY23FaYdYP2D+FkUpeSpHFTaTb6YTp4SGLC28uWsIe
                    AOP8+TtbQxmQYr0dCjONNpbNFteRz1y0B6Myxy+folmsAeBTp+gvWfcziX6BeSaRCTPRFXRyBNo8
                    AdNQkWgJj9w0BkyCeYA4BjEMD8fw0IIM1jEOSOIeBlJFBWlksJlCDgCZfMZT9h4G4N8MBHZwlP2U
                    46EF8ZQwm0qrG29nMF6OkUIGu3nREdEfJ5P7Lb49c/mSx6jkKN3Yy3wyuZnDtuwQ4F9AAsMYhPiJ
                    VFqQzlqeAnIZwXFEMq0Qr/qt3pSghVpgZGZSlS+Urg9VoFSrLE6D9Z16C2XpfR3QBGMvt0YIHTVu
                    CqRporaqg1Ci3tYctbRrrtW3utlo+7TmWNw12qTrLP7U/rFYCx1p6XzlC52tdZpk24XS9ahQN71n
                    lHXyPyxBY/Wpy/96TDE2zqeekdojj7I0R1naoZfsDbE/TISmaqnQw/rE57LTDfpJrXxgJqlAM400
                    Sh3MVvq7vrHvZ56COU1vuKTKBmplgH/4sbfVt7DIZT2Zy2KfkoWcz0UA7OEqelAUJHUNC8jFQy5L
                    8TrKS/FypaPkYjYyiEdcTtPEOJ5nA5cbZbe6biZW8jN7KeVNZvI8Y8j0FYjHY9zhqCf/PaDZFYfo
                    RxuWBTn2qSGeeOL8cg7C69Ddi2e5hY9Ya2cqnDSV0ZQaxxH+1h6lO1Xk0YUJFFHCTi7lcy7whVnK
                    ABf1JX6J4Dz28IX9dpw8ylhD2wAwB1JCNSUM8umwq/Gwznj/glvYy10sZIM1VnxpEXfwJsNsv90Q
                    4BeP8AHLWcQMRrCBS3y7N0WrNVUt7HHcXjPUVS31sSYpxQ5Bg7RbvYSy7KCBEjRDO7Xd79tM1sP6
                    RB2EkrRCrxv39Prof8pzDUFohA6rn+PbrA9dPXREG5Qv1FHbNdqIJa1Voe4ar2HGt3mhthjfP0J4
                    OMH1DGEeNZzAQxJJLOMrqujFvSykmgrSSGErvTkAeDluDONRPMcdAJTzIoeoJI6z8LKSnlQD1eRy
                    J0V4+ZkkUtnDHxwTyglD2yyOMp/RLKacWuBnY8Bv4vcsoxrYTw9GsoRqKkghg0QmsYs3eJB7KaOS
                    ZGr5kRvtRJlF/wfLX26vd6WwwAAAACV0RVh0ZGF0ZTpjcmVhdGUAMjAxOS0wNy0zMVQyMjo1MDox
                    NyswMzowMIgDEAsAAAAldEVYdGRhdGU6bW9kaWZ5ADIwMTktMDctMzFUMjI6NTA6MTcrMDM6MDD5
                    Xqi3AAAAAElFTkSuQmCC" />















                    </svg>
                            </div>*@


                <div id="right_top_header" class="main_flex__nowrap flex__align-items_center flex__jcontent_between">
                    @if (!User.Identity.IsAuthenticated)
                    {
                        <div id="signin" class="btn main_flex__nowrap flex__align-items_center flex__jcontent_between">

                            @Localizer["SignIn"]
                            Sign In
                        </div>
                        <div id="signup" class="btn main_flex__nowrap flex__align-items_center flex__jcontent_between">

                            @Localizer["SignUp"]
                            
                        </div>
                    }
                    @if (User.Identity.IsAuthenticated)
                    {
                        <div id="cart">
                            Cart
                        </div>
                    }
                </div>


            </div>
            <div id="bottom_header">
                <nav class="wrap
             main_flex__nowrap
             flex__align-items_center
             flex__jcontent_between">
                    <li><a href="#header">Home</a></li>
                    <li><a href="#about">About us</a></li>
                    <li><a href="#gallery">Gallery</a></li>
                    <li><a href="#consultation">Consultation</a></li>
                    <li><a href="#testimonials">Testimonials</a></li>
                    <li><a href="#contacts">Contacts</a></li>
                </nav>
            </div>
        </div>

        <div id="about">
            <div class="wrap main_flex__nowrap flex__jcontent_between flex__align-items_start">
                <div id="title_about" class="wow fadeInLeft" data-wow-offset="50" data-wow-duration="1.5s">
                    <p>Miami best</p>
                    <p>Realry<span class="blue">—</span></p>
                    <p class="blue">this</p>
                </div>
                <div id="text_about" class="wow fadeInRight" data-wow-offset="50" data-wow-duration="1.5s">
                    <p>
                        <strong>Over 50 years experience in love.</strong>
                    </p>
                    <p>
                        Mazel and VA Tsukkerman in his "Analysis of musical works." Pointillism, which originated in the music of the early twentieth century, microforms, found a distant historical.
                    </p>
                    <ul>
                        <li>1.  The market leader in real estate since 2003</li>
                        <li>2.  Awards Real Estate Company, 2010, 2011, 2013</li>
                        <li>3.  More than 200 satisfied customers premium segment</li>
                        <li>4.  We focus only on new buildings and high-level doskanalno know this area better than other specialists.</li>
                        <li>
                            5.  Working directly with developers - so have more
                            useful information about the profitable deals
                        </li>
                    </ul>


                    <p><strong>We will never late!</strong></p>
                    <p><strong>Guaranteed secure transaction - 100%</strong></p>
                </div>
            </div>
        </div>

        <div id="gallery">
            <div class="title">
                <h2>Gallery</h2>
                <div class="dec main_flex__nowrap flex__align-items_center flex__jcontent_between">
                    <dec class="line"></dec>
                    <div class="dec_svg">
                        <svg version="1.1" id="" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 20 13" enable-background="new 0 0 20 13" xml:space="preserve">  <image id="image0" width="20" height="13" x="0" y="0"
                                                                                                                                                                                                                                   xlink:href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAANCAMAAACejr5sAAAABGdBTUEAALGPC/xhBQAAACBjSFJN
AAB6JQAAgIMAAPn/AACA6AAAUggAARVYAAA6lwAAF2/XWh+QAAAA51BMVEUAqu8Aqu8Aqu8Aqu8A
qu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8A
qu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8A
qu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8A
qu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu////+I3Aw7AAAAS3RS
TlMAGu3ICAfHaLsPablmAWHouhD6+xUy7OvmVxRcmP3+oBFI45mswNdxUK0J9PZ8PuEF3nVPIwJf
YtQgtJ9YW9XdVlV3BNrSeFTRZFH8mepJAAAAAWJLR0RM928Q8wAAAAlwSFlzAAALEwAACxMBAJqc
GAAAAAd0SU1FB+MHHxclI7WjTDUAAADASURBVBjTZY9ZV4JgEIZfMA1iMUQJQdIW3DWJ0Eor96X3
//8f+TjpRc7FzDPPOXNmBoAk567wF/mCLGVwTUUUVRVZ4U0mNeqAYRaLpgHovBXOKtllVAp07txq
BZ5dslLpU/FqwX3dazw8Bk+eQj+VzwwdNlttMRpQDtkBuj2yPxgGL6NRRP817XpdxKT2hqTJ8YTv
CT4+yRhTdybWffH7h3NBC7eOpZXdtVqTmyRDdXt6BSa5w/9YRXvjQuLwe8YjERoXnGeml10AAAAl
dEVYdGRhdGU6Y3JlYXRlADIwMTktMDctMzFUMjM6Mzc6MzUrMDM6MDCKRg7gAAAAJXRFWHRkYXRl
Om1vZGlmeQAyMDE5LTA3LTMxVDIzOjM3OjM1KzAzOjAw+xu2XAAAAABJRU5ErkJggg==" />































































































































</svg>
                    </div>
                    <dec class="line"></dec>
                </div>
            </div>
            <div class="wrap" id="gallery_box">
                <div class="gallery_line main_flex__nowrap flex__jcontent_between">
                    <div class="box_img_gallery wow fadeInLeft" data-wow-offset="50" data-wow-delay="0s" data-wow-duration="1.5s">
                        <img src="~/img/images/Layer1.png" alt="" id="myImg1" />
                        <div id="myModal" class="modal">
                            <span class="close" onclick="document.getElementById('myModal').style.display='none'">&times;</span>
                            <img class="modal-content" id="img01" />
                            <div id="caption"></div>
                        </div>
                    </div>
                    <div class="box_img_gallery wow fadeInRight" data-wow-offset="50" data-wow-delay="0.2s" data-wow-duration="1.5s">
                        <img src="~/img/images/Layer2.png" alt="" id="myImg2" />
                    </div>

                </div>
                <div class="name_gallery wow fadeInLeft" data-wow-offset="50" data-wow-delay="0s" data-wow-duration="1.5s">
                    Marina Palms / <span class="blue">North Miami Beach, FL 33162</span>
                </div>

                <div class="gallery_line main_flex__nowrap flex__jcontent_between">
                    <div class="box_img_gallery wow rotateInUpLeft" data-wow-offset="50" data-wow-delay="0s" data-wow-duration="1.5s">
                        <img src="~/img/images/Layer3.png" alt="" id="myImg3" />
                    </div>
                    <div class="box_img_gallery wow rotateInUpRight" data-wow-offset="50" data-wow-delay="0s" data-wow-duration="1.5s">
                        <img src="~/img/images/Layer4.png" alt="" id="myImg4" />
                    </div>

                </div>
                <div class="name_gallery wow fadeInLeft" data-wow-offset="50" data-wow-delay="0s" data-wow-duration="1.5s">
                    Marina Palms / <span class="blue">North Miami Beach, FL 33162</span>
                </div>

                <div class="gallery_line main_flex__nowrap flex__jcontent_between">
                    <div class="box_img_gallery wow fadeInDownBig" data-wow-offset="50" data-wow-delay="0s" data-wow-duration="1.5s">
                        <img src="~/img/images/Layer5.png" alt="" id="myImg5" />
                    </div>
                    <div class="box_img_gallery wow fadeInUpBig" data-wow-offset="50" data-wow-delay="0s" data-wow-duration="1.5s">
                        <img src="~/img/images/Layer6.png" alt="" id="myImg6" />
                    </div>

                </div>
                <div class="name_gallery wow fadeInLeft" data-wow-offset="50" data-wow-delay="0s" data-wow-duration="1.5s">
                    Marina Palms / <span class="blue">North Miami Beach, FL 33162</span>
                </div>

                <div class="main_flex__nowrap flex__jcontent_center">
                    <button class="btn blue_btn" id="view_all_gallery" type="button">View All</button>
                </div>

            </div>
        </div>

        <div id="consultation">
            <div class="title">
                <h2>Consultation</h2>
                <div class="dec main_flex__nowrap flex__align-items_center flex__jcontent_between">
                    <dec class="line"></dec>
                    <div class="dec_svg">
                        <svg version="1.1" id="" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 20 13" enable-background="new 0 0 20 13" xml:space="preserve">  <image id="image0" width="20" height="13" x="0" y="0"
                                                                                                                                                                                                                                   xlink:href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAANCAMAAACejr5sAAAABGdBTUEAALGPC/xhBQAAACBjSFJN
AAB6JQAAgIMAAPn/AACA6AAAUggAARVYAAA6lwAAF2/XWh+QAAAA51BMVEUAqu8Aqu8Aqu8Aqu8A
qu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8A
qu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8A
qu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8A
qu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu////+I3Aw7AAAAS3RS
TlMAGu3ICAfHaLsPablmAWHouhD6+xUy7OvmVxRcmP3+oBFI45mswNdxUK0J9PZ8PuEF3nVPIwJf
YtQgtJ9YW9XdVlV3BNrSeFTRZFH8mepJAAAAAWJLR0RM928Q8wAAAAlwSFlzAAALEwAACxMBAJqc
GAAAAAd0SU1FB+MHHxclI7WjTDUAAADASURBVBjTZY9ZV4JgEIZfMA1iMUQJQdIW3DWJ0Eor96X3
//8f+TjpRc7FzDPPOXNmBoAk567wF/mCLGVwTUUUVRVZ4U0mNeqAYRaLpgHovBXOKtllVAp07txq
BZ5dslLpU/FqwX3dazw8Bk+eQj+VzwwdNlttMRpQDtkBuj2yPxgGL6NRRP817XpdxKT2hqTJ8YTv
CT4+yRhTdybWffH7h3NBC7eOpZXdtVqTmyRDdXt6BSa5w/9YRXvjQuLwe8YjERoXnGeml10AAAAl
dEVYdGRhdGU6Y3JlYXRlADIwMTktMDctMzFUMjM6Mzc6MzUrMDM6MDCKRg7gAAAAJXRFWHRkYXRl
Om1vZGlmeQAyMDE5LTA3LTMxVDIzOjM3OjM1KzAzOjAw+xu2XAAAAABJRU5ErkJggg==" />































































































































































































































































</svg>
                    </div>
                    <dec class="line"></dec>
                </div>
            </div>

            <div class="wrap main_flex__nowrap flex__jcontent_between flex__align-items_start">
                <div id="text_consultation" class="wow slideInDown" data-wow-offset="50" data-wow-delay="0s" data-wow-duration="2s">
                    <h2>How long have<br>you do yourself a gift?</h2>
                    <p>
                        The procedural change mezzo forte starts izoritmichesky pickup at these moments
                        stop LA Mazel and VA Tsukkerman in his "Analysis of musical works." Pointillism, which
                        originated in the music of the early twentieth century, microforms, found a distant historical
                    </p>
                </div>
                <div id="form_consultation">
                    <form action="" name="consultation" id="form_consultation">
                        <input type="text" placeholder="name" class="wow fadeInLeft" data-wow-offset="50" data-wow-delay="0s" data-wow-duration="2s" />
                        <input type="text" placeholder="phone" class="wow fadeInLeft" data-wow-offset="50" data-wow-delay="0.2s" data-wow-duration="2s" />
                        <input type="text" placeholder="email" class="wow fadeInLeft" data-wow-offset="50" data-wow-delay="0.4s" data-wow-duration="2s" />
                        <button type="submit" class="blue_btn btn wow fadeInLeft" data-wow-offset="50" data-wow-delay="0.6s" data-wow-duration="2s">Consultation</button>
                    </form>
                </div>
            </div>
        </div>

        <div id="testimonials">
            <div class="title">
                <h2>Testimonials</h2>
                <div class="dec main_flex__nowrap flex__align-items_center flex__jcontent_between">
                    <dec class="line"></dec>
                    <div class="dec_svg">
                        <svg version="1.1" id="" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 20 13" enable-background="new 0 0 20 13" xml:space="preserve">  <image id="image0" width="20" height="13" x="0" y="0"
                                                                                                                                                                                                                                   xlink:href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAANCAMAAACejr5sAAAABGdBTUEAALGPC/xhBQAAACBjSFJN
AAB6JQAAgIMAAPn/AACA6AAAUggAARVYAAA6lwAAF2/XWh+QAAAA51BMVEUAqu8Aqu8Aqu8Aqu8A
qu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8A
qu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8A
qu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8A
qu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu////+I3Aw7AAAAS3RS
TlMAGu3ICAfHaLsPablmAWHouhD6+xUy7OvmVxRcmP3+oBFI45mswNdxUK0J9PZ8PuEF3nVPIwJf
YtQgtJ9YW9XdVlV3BNrSeFTRZFH8mepJAAAAAWJLR0RM928Q8wAAAAlwSFlzAAALEwAACxMBAJqc
GAAAAAd0SU1FB+MHHxclI7WjTDUAAADASURBVBjTZY9ZV4JgEIZfMA1iMUQJQdIW3DWJ0Eor96X3
//8f+TjpRc7FzDPPOXNmBoAk567wF/mCLGVwTUUUVRVZ4U0mNeqAYRaLpgHovBXOKtllVAp07txq
BZ5dslLpU/FqwX3dazw8Bk+eQj+VzwwdNlttMRpQDtkBuj2yPxgGL6NRRP817XpdxKT2hqTJ8YTv
CT4+yRhTdybWffH7h3NBC7eOpZXdtVqTmyRDdXt6BSa5w/9YRXvjQuLwe8YjERoXnGeml10AAAAl
dEVYdGRhdGU6Y3JlYXRlADIwMTktMDctMzFUMjM6Mzc6MzUrMDM6MDCKRg7gAAAAJXRFWHRkYXRl
Om1vZGlmeQAyMDE5LTA3LTMxVDIzOjM3OjM1KzAzOjAw+xu2XAAAAABJRU5ErkJggg==" />































































































































































































































































































































































































































































































































</svg>
                    </div>
                    <dec class="line"></dec>
                </div>
            </div>
            <div class="wrap main_flex__nowrap flex__jcontent_between" id="slide">
                <div class="box_tm">
                    <div class="img_tm">
                        <div class="box_img_tm main_flex__nowrap flex__align-content_center flex__jcontent_center flex__align-items_center">
                            <img src="~/img/images/Layer13.png" alt="" />
                        </div>
                    </div>
                    <div class="name_tm">
                        <h3>Leha</h3>
                        <h4>Garnich</h4>
                    </div>
                    <div class="text_tm">
                        <p>
                            Good Site
                        </p>
                    </div>
                </div>
                <div class="box_tm">
                    <div class="img_tm">
                        <div class="box_img_tm main_flex__nowrap flex__align-content_center flex__jcontent_center flex__align-items_center">
                            <img src="~/img/images/Layer13.png" alt="" />
                        </div>
                    </div>
                    <div class="name_tm">
                        <h3>Leha</h3>
                        <h4>Garnich</h4>
                    </div>
                    <div class="text_tm">
                        <p>
                            Good Site
                        </p>
                    </div>
                </div>
                <div class="box_tm">
                    <div class="img_tm">
                        <div class="box_img_tm main_flex__nowrap flex__align-content_center flex__jcontent_center flex__align-items_center">
                            <img src="~/img/images/Layer13.png" alt="" />
                        </div>
                    </div>
                    <div class="name_tm">
                        <h3>Leha</h3>
                        <h4>Garnich</h4>
                    </div>
                    <div class="text_tm">
                        <p>
                            Good Site
                        </p>
                    </div>
                </div>
                @foreach (var item in Model.Comments)
                {
                    <div class="box_tm">
                        <div class="img_tm">
                            <div class="box_img_tm main_flex__nowrap flex__align-content_center flex__jcontent_center flex__align-items_center">
                                <img src="~/img/images/Layer13.png" alt="" />
                            </div>
                        </div>
                        <div class="name_tm">
                            <h3>@item.User.Login</h3>
                            <h4>@item.User.Email</h4>
                        </div>
                        <div class="text_tm">
                            <p>
                                @item.Content
                            </p>
                        </div>
                    </div>
                }
            </div>



        </div>

        @if (User.Identity.IsAuthenticated)
        {
            <div id="contacts">
                <div class="title">
                    <h2>Add Testimonial</h2>
                    <div class="dec main_flex__nowrap flex__align-items_center flex__jcontent_between">
                        <dec class="line"></dec>
                        <div class="dec_svg">
                            <svg version="1.1" id="" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 20 13" enable-background="new 0 0 20 13" xml:space="preserve">  <image id="image0" width="20" height="13" x="0" y="0"
                                                                                                                                                                                                                                       xlink:href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAANCAMAAACejr5sAAAABGdBTUEAALGPC/xhBQAAACBjSFJN
AAB6JQAAgIMAAPn/AACA6AAAUggAARVYAAA6lwAAF2/XWh+QAAAA51BMVEUAqu8Aqu8Aqu8Aqu8A
qu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8A
qu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8A
qu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8A
qu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu////+I3Aw7AAAAS3RS
TlMAGu3ICAfHaLsPablmAWHouhD6+xUy7OvmVxRcmP3+oBFI45mswNdxUK0J9PZ8PuEF3nVPIwJf
YtQgtJ9YW9XdVlV3BNrSeFTRZFH8mepJAAAAAWJLR0RM928Q8wAAAAlwSFlzAAALEwAACxMBAJqc
GAAAAAd0SU1FB+MHHxclI7WjTDUAAADASURBVBjTZY9ZV4JgEIZfMA1iMUQJQdIW3DWJ0Eor96X3
//8f+TjpRc7FzDPPOXNmBoAk567wF/mCLGVwTUUUVRVZ4U0mNeqAYRaLpgHovBXOKtllVAp07txq
BZ5dslLpU/FqwX3dazw8Bk+eQj+VzwwdNlttMRpQDtkBuj2yPxgGL6NRRP817XpdxKT2hqTJ8YTv
CT4+yRhTdybWffH7h3NBC7eOpZXdtVqTmyRDdXt6BSa5w/9YRXvjQuLwe8YjERoXnGeml10AAAAl
dEVYdGRhdGU6Y3JlYXRlADIwMTktMDctMzFUMjM6Mzc6MzUrMDM6MDCKRg7gAAAAJXRFWHRkYXRl
Om1vZGlmeQAyMDE5LTA3LTMxVDIzOjM3OjM1KzAzOjAw+xu2XAAAAABJRU5ErkJggg==" />































































































































































































































































































































































































































































































































</svg>
                        </div>
                        <dec class="line"></dec>
                    </div>
                </div>

                <div class="wrap main_flex__nowrap flex__jcontent_between">
                    <ul id="contact_list" class="wow rollIn" data-wow-offset="50" data-wow-duration="2s">
                        <li>Hello@miami.com</li>
                        <li>
                            8 800 678 78 78<br>
                            8 800 700 97 97
                        </li>
                        <li>
                            400 first ave. n.<br>
                            suite 700<br>
                            Minneapolis, NM 55401
                        </li>
                    </ul>

                    <div id="form_contact">
                        <form action="~/Home/Comment" name="contact" id="form_cont">
                            <input type="text" placeholder="name" class="wow fadeInLeft" data-wow-offset="50" data-wow-delay="0s" data-wow-duration="2s" />
                            <input type="text" placeholder="email" class="wow fadeInRight" data-wow-offset="50" data-wow-delay="0s" data-wow-duration="2s" />
                            <textarea placeholder="message" name="Content" class="wow fadeInLeft" data-wow-offset="50" data-wow-delay="0s" data-wow-duration="2s"></textarea>
                            <button type="submit" class="blue_btn btn wow fadeInRight" data-wow-offset="50" data-wow-delay="0s" data-wow-duration="2s">Write to us</button>
                        </form>
                    </div>
                </div>
            </div>
        }
        <div id="frequently_question">
            <div class="title">
                <h2>Frequently Asked Questions</h2>
                <div class="dec main_flex__nowrap flex__align-items_center flex__jcontent_between">
                    <dec class="line"></dec>
                    <div class="dec_svg">
                        <svg version="1.1" id="" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 20 13" enable-background="new 0 0 20 13" xml:space="preserve">  <image id="image0" width="20" height="13" x="0" y="0"
                                                                                                                                                                                                                                   xlink:href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAANCAMAAACejr5sAAAABGdBTUEAALGPC/xhBQAAACBjSFJN
AAB6JQAAgIMAAPn/AACA6AAAUggAARVYAAA6lwAAF2/XWh+QAAAA51BMVEUAqu8Aqu8Aqu8Aqu8A
qu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8A
qu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8A
qu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8A
qu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu////+I3Aw7AAAAS3RS
TlMAGu3ICAfHaLsPablmAWHouhD6+xUy7OvmVxRcmP3+oBFI45mswNdxUK0J9PZ8PuEF3nVPIwJf
YtQgtJ9YW9XdVlV3BNrSeFTRZFH8mepJAAAAAWJLR0RM928Q8wAAAAlwSFlzAAALEwAACxMBAJqc
GAAAAAd0SU1FB+MHHxclI7WjTDUAAADASURBVBjTZY9ZV4JgEIZfMA1iMUQJQdIW3DWJ0Eor96X3
//8f+TjpRc7FzDPPOXNmBoAk567wF/mCLGVwTUUUVRVZ4U0mNeqAYRaLpgHovBXOKtllVAp07txq
BZ5dslLpU/FqwX3dazw8Bk+eQj+VzwwdNlttMRpQDtkBuj2yPxgGL6NRRP817XpdxKT2hqTJ8YTv
CT4+yRhTdybWffH7h3NBC7eOpZXdtVqTmyRDdXt6BSa5w/9YRXvjQuLwe8YjERoXnGeml10AAAAl
dEVYdGRhdGU6Y3JlYXRlADIwMTktMDctMzFUMjM6Mzc6MzUrMDM6MDCKRg7gAAAAJXRFWHRkYXRl
Om1vZGlmeQAyMDE5LTA3LTMxVDIzOjM3OjM1KzAzOjAw+xu2XAAAAABJRU5ErkJggg==" />































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































</svg>
                    </div>
                    <dec class="line"></dec>
                </div>
            </div>

            <div class="wrap main_flex__nowrap flex__jcontent_between">
                <section class="frequently_area">
                    <div class="container">
                        <div class="row frequent_inner">
                            <div class="col-lg-5 col-md-5">
                                <div class="frequent_item">
                                    <h3>We Believe that Interior beauty Lasts Long</h3>
                                    <p>
                                        inappropriate behavior is often laughed off as “boys will be boys,” women face higher conduct standards
                                        especially in the workplace. That’s why it’s crucial that as women.
                                    </p>
                                </div>
                            </div>
                            <div class="offset-lg-2 col-lg-5 offset-md-2 col-md-5">
                                <div class="frequent_item">
                                    <h3>We Believe that Interior beauty Lasts Long</h3>
                                    <p>
                                        inappropriate behavior is often laughed off as “boys will be boys,” women face higher conduct standards
                                        especially in the workplace. That’s why it’s crucial that as women.
                                    </p>
                                </div>
                            </div>
                            <div class="col-lg-5 col-md-5">
                                <div class="frequent_item">
                                    <h3>We Believe that Interior beauty Lasts Long</h3>
                                    <p>
                                        inappropriate behavior is often laughed off as “boys will be boys,” women face higher conduct standards
                                        especially in the workplace. That’s why it’s crucial that as women.
                                    </p>
                                </div>
                            </div>
                            <div class="offset-lg-2 col-lg-5 offset-md-2 col-md-5">
                                <div class="frequent_item">
                                    <h3>We Believe that Interior beauty Lasts Long</h3>
                                    <p>
                                        inappropriate behavior is often laughed off as “boys will be boys,” women face higher conduct standards
                                        especially in the workplace. That’s why it’s crucial that as women.
                                    </p>
                                </div>
                            </div>
                            <div class="col-lg-5 col-md-5">
                                <div class="frequent_item last-child">
                                    <h3>We Believe that Interior beauty Lasts Long</h3>
                                    <p>
                                        inappropriate behavior is often laughed off as “boys will be boys,” women face higher conduct standards
                                        especially in the workplace. That’s why it’s crucial that as women.
                                    </p>
                                </div>
                            </div>
                            <div class="offset-lg-2 col-lg-5 offset-md-2 col-md-5">
                                <div class="frequent_item last-child">
                                    <h3>We Believe that Interior beauty Lasts Long</h3>
                                    <p>
                                        inappropriate behavior is often laughed off as “boys will be boys,” women face higher conduct standards
                                        especially in the workplace. That’s why it’s crucial that as women.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>

        <div id="payments">
            <div class="title">
                <h2>Payments</h2>
                <div class="dec main_flex__nowrap flex__align-items_center flex__jcontent_between">
                    <dec class="line"></dec>
                    <div class="dec_svg">
                        <svg version="1.1" id="" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 20 13" enable-background="new 0 0 20 13" xml:space="preserve">  <image id="image0" width="20" height="13" x="0" y="0"
                                                                                                                                                                                                                                   xlink:href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAANCAMAAACejr5sAAAABGdBTUEAALGPC/xhBQAAACBjSFJN
AAB6JQAAgIMAAPn/AACA6AAAUggAARVYAAA6lwAAF2/XWh+QAAAA51BMVEUAqu8Aqu8Aqu8Aqu8A
qu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8A
qu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8A
qu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8A
qu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu////+I3Aw7AAAAS3RS
TlMAGu3ICAfHaLsPablmAWHouhD6+xUy7OvmVxRcmP3+oBFI45mswNdxUK0J9PZ8PuEF3nVPIwJf
YtQgtJ9YW9XdVlV3BNrSeFTRZFH8mepJAAAAAWJLR0RM928Q8wAAAAlwSFlzAAALEwAACxMBAJqc
GAAAAAd0SU1FB+MHHxclI7WjTDUAAADASURBVBjTZY9ZV4JgEIZfMA1iMUQJQdIW3DWJ0Eor96X3
//8f+TjpRc7FzDPPOXNmBoAk567wF/mCLGVwTUUUVRVZ4U0mNeqAYRaLpgHovBXOKtllVAp07txq
BZ5dslLpU/FqwX3dazw8Bk+eQj+VzwwdNlttMRpQDtkBuj2yPxgGL6NRRP817XpdxKT2hqTJ8YTv
CT4+yRhTdybWffH7h3NBC7eOpZXdtVqTmyRDdXt6BSa5w/9YRXvjQuLwe8YjERoXnGeml10AAAAl
dEVYdGRhdGU6Y3JlYXRlADIwMTktMDctMzFUMjM6Mzc6MzUrMDM6MDCKRg7gAAAAJXRFWHRkYXRl
Om1vZGlmeQAyMDE5LTA3LTMxVDIzOjM3OjM1KzAzOjAw+xu2XAAAAABJRU5ErkJggg==" />































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































</svg>
                    </div>
                    <dec class="line"></dec>
                </div>
            </div>

            <div class="wrap main_flex__nowrap flex__jcontent_between">
                <div id="tabs">
                    <div class="tab whiteboarder">Пополнить</div>
                    <div class="tab">Вывести</div>
                    <div class="tab">Перевести</div>
                    <div class="tabContent main_flex__nowrap flex__jcontent_between">
                        <ul id="contact_list">
                            <li>Hello@miami.com</li>
                            <li>
                                8 800 678 78 78<br>
                                8 800 700 97 97
                            </li>
                            <li>
                                400 first ave. n.<br>
                                suite 700<br>
                                Minneapolis, NM 55401
                            </li>
                        </ul>

                        <div id="form_contact">
                            <form action="" name="contact" id="form_cont">
                                <input type="text" placeholder="name" class="wow fadeInLeft" data-wow-offset="50" data-wow-delay="0s" data-wow-duration="2s" />
                                <input type="text" placeholder="email" class="wow fadeInRight" data-wow-offset="50" data-wow-delay="0s" data-wow-duration="2s" />
                                <textarea placeholder="message" class="wow fadeInLeft" data-wow-offset="50" data-wow-delay="0s" data-wow-duration="2s"></textarea>
                                <button type="submit" class="blue_btn btn wow fadeInRight" data-wow-offset="50" data-wow-delay="0s" data-wow-duration="2s">Write to us</button>
                            </form>
                        </div>
                    </div>
                    <div class="tabContent">2</div>
                    <div class="tabContent">3</div>
                </div>
            </div>
        </div>

        <footer class="main_flex__nowrap flex__jcontent_center flex__align-content_center flex__align-items_center">
            <div id="logo_footer">
                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 115 76" enable-background="new 0 0 115 76" xml:space="preserve">  <image id="image0" width="115" height="76" x="0" y="0"
                                                                                                                                                                                                                       xlink:href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAHMAAABMCAQAAAD0ZkAVAAAABGdBTUEAALGPC/xhBQAAACBjSFJN
AAB6JQAAgIMAAPn/AACA6AAAUggAARVYAAA6lwAAF2/XWh+QAAAAAmJLR0QA/4ePzL8AAAAJcEhZ
cwAACxMAAAsTAQCanBgAAAAHdElNRQfjBx8WMhF5NfMUAAAKXUlEQVR42u2baXBVRRbHf0leViUB
WWRxYhxilSWCOM7IoowBN4agRMsFWTQWzoDiIDqOK4vWjERKx4kIJYgggWKkRCDIIJlAIZsojgsI
qDggiAgKGAhGQkLy/vOBm5u+79235pGkKM/9kHO7T593/n36nu4+3YkTjUaFtCS/8X7OpLhGg9mB
r0nkInY2Bcz4RvulJ0ghgXFNAbLxvJnJThKB2qbxZ2N580kSAZrKn43jzQvYYcFsIn82jjcn2iCb
yJ+N4c1sviTBeG8CfzaGNyc4QEICjzQuSEDRPHO0Rl3ClL1YXvlStTLDbJ2jLRoflY2OJ7pmwyWd
VIHSwpBdIDeaHkbLdporSerRVDAzdFKStFu5ISS7Gr6sUHXY/ozXKB2RJH2ruKaCiUpsg9/SeUHk
ig0PPqcZYfrzMm2y5V5uOMjoYY40DD6msfIEMFeGL9soWzUh/Zmul1RrtOvblDDb+QSWT3SFi9Tb
hsQLQuiNEP68Qwcceg8poSlhovU+QcWracpwSPQ0aivVQQh1DRJvL9RKv1A1KxYgGwLzIZf4eUB3
GhIlRk2hq4dfsktT9IxOuGgMFeJOO8xMuVOpsoXQlS6+DOTjG7TTVVe5kpsaJvo4ANATGq9krXH1
JUKr7fKN6qxOelOBaEFsQDYM5lMKTHsD+BKhayVJ+zVciRqrY0G03NYcYF5kGPRfLQlobKFfy/Wa
rBbqqc0+kl5N1z6je85uDjDRlw6TrtPnLiB9fYmQR+foVb+17gZd5ui6t2MFsqEwnzWMGizk0UMq
D+nLOOXroI/UdxqiOKHxRtndzQXm5YZRi6yydppl+Klav1J/Tdc5dpsuWucDsUoF9vDcbpeeNNo0
MUyMUFNlLA5+p/et0hlC6ySV6T4l6CxNthb99bTMmoCQc/GwKnYgGw7zn4Zhwx0D824dUI2y1duu
36JvfCDuUH+Htr8Zdfc1J5h9HH5x1qXrVjlXPSYd01+V5NOiPqR51bE5wYw3gkmVz5r2VP07riCL
1N5P1hyyG2MJUg3OBXlZYvNJ3ORSP4Cb2OUo+4he3M33frK3G/yi5pALMp/+hg+WB5BJ1hOqkCQd
1AjFB5Ay17WdY+vNhqtINGbKYJNAJ03XZJdhXfeYk9Pm2IKMBUw0zzBwRNRanjO0xCCX53xikact
NvjbotZitiyOVsnp+zZRqiobvHYxh+xXQnG6Rt2blzcrecfma7g6Kh05nLT5xcAY+jKKfrFyZmzO
UK6hL7v4mp3sJ1qFCWTyazqTzVy2MY40ajjMlOYEM/b0W3JJ5AWOntkwY0yNd/fgF5hnFsw0n3PO
RiQPa3ie5RG1iaOAGvtovS1DLW42x4K0asvnzOPhoJofoCt/pjoia3owiaH2RuBGOgPwKWtpzxgq
qGUaDyKpWsMimGrj9YqkYvu9uz2tZwVtt1CSV32CyhRKWqmzIrCmp8odv1x3AlcohPKVpXc1U+vj
gUTmMSbMvktgHqOiGDW3cSsQx1zODiF5LatpE6bWfqwmPYTMh3RhE7Yvngmj75LsDHlk3mytH2yp
YOeahZbM9qBnpnXPAB33+2WnN10WexOYGiIgJfFWlEvzKbSz+ZFcH1L+Yt7jwhAyN1FMargGmMBG
M5+kgJJprODGqEDmMcTx/jotQ7bJZCO/CVI/lMXGXaOIYMJglpLmKpfB8igX0q2ZbnH/oQaAjmGt
VNvwLn0D1N3D3MgmJ99h2p9VLn2dQSk5UYGEKZwLwLfcztNW2XDywmiZzgpXufuYHfF8b4eG4za3
1Sd52NY40qmOMATl2bXXC3n0ofV2UG2DhKB6W2p1j4/Mo362RBSC/sg2i7uE9WTb5R1YzaUWv4jX
IurD+gH7GqVADXdRBUBbXgnSrpSJFhfPbP5i1IxjssUdZng03sxRK/tIQPpe3YTQeUa+bb4S7P4O
z5vzrZq9SrfLxtryQwN6s1hotHGfpMC6G1SfLzqkrsoK35smTJRm3Bco11XK1m77/TUl+BgSCqZz
wNavotZapWXqFAQmGmwMy5nyaIr9tk9dRPQwUZJx+ey49tv8K1Z/hg+ztb63TXSCucDK2UrLfW5w
+Wrvb3yl9aNqn3W4FAFM34hVzRCmWXwqHSzuBe4n0v13XYQt42WyHI940ZIZwL1BdZTQjyMW39n6
u4urIr+m6vEr8fIAPzLBKJnM45GqNZYE57AliNw/WMXuIPUfcDUr6GS/7yKHfRFbE2D+mciDNv9k
FCDrI2woasFs4oJKbKWPfQazjd7RgAy8rZ7CME4Cj1MQhda6ARsO5Rhd6k676c1mYAv9OBgNSLdB
W0fz+YGWvBWFzvoBO4uKIHJX0AuASaxgR1CNB8lhNNMojw5kMJiwKiqN9QO2KESAacM2zgVSKeJK
aoPKljMpWohwOnJBdQN2P2NDSB5mpMX14LGY23FaYdYP2D+FkUpeSpHFTaTb6YTp4SGLC28uWsIe
AOP8+TtbQxmQYr0dCjONNpbNFteRz1y0B6Myxy+folmsAeBTp+gvWfcziX6BeSaRCTPRFXRyBNo8
AdNQkWgJj9w0BkyCeYA4BjEMD8fw0IIM1jEOSOIeBlJFBWlksJlCDgCZfMZT9h4G4N8MBHZwlP2U
46EF8ZQwm0qrG29nMF6OkUIGu3nREdEfJ5P7Lb49c/mSx6jkKN3Yy3wyuZnDtuwQ4F9AAsMYhPiJ
VFqQzlqeAnIZwXFEMq0Qr/qt3pSghVpgZGZSlS+Urg9VoFSrLE6D9Z16C2XpfR3QBGMvt0YIHTVu
CqRporaqg1Ci3tYctbRrrtW3utlo+7TmWNw12qTrLP7U/rFYCx1p6XzlC52tdZpk24XS9ahQN71n
lHXyPyxBY/Wpy/96TDE2zqeekdojj7I0R1naoZfsDbE/TISmaqnQw/rE57LTDfpJrXxgJqlAM400
Sh3MVvq7vrHvZ56COU1vuKTKBmplgH/4sbfVt7DIZT2Zy2KfkoWcz0UA7OEqelAUJHUNC8jFQy5L
8TrKS/FypaPkYjYyiEdcTtPEOJ5nA5cbZbe6biZW8jN7KeVNZvI8Y8j0FYjHY9zhqCf/PaDZFYfo
RxuWBTn2qSGeeOL8cg7C69Ddi2e5hY9Ya2cqnDSV0ZQaxxH+1h6lO1Xk0YUJFFHCTi7lcy7whVnK
ABf1JX6J4Dz28IX9dpw8ylhD2wAwB1JCNSUM8umwq/Gwznj/glvYy10sZIM1VnxpEXfwJsNsv90Q
4BeP8AHLWcQMRrCBS3y7N0WrNVUt7HHcXjPUVS31sSYpxQ5Bg7RbvYSy7KCBEjRDO7Xd79tM1sP6
RB2EkrRCrxv39Prof8pzDUFohA6rn+PbrA9dPXREG5Qv1FHbNdqIJa1Voe4ar2HGt3mhthjfP0J4
OMH1DGEeNZzAQxJJLOMrqujFvSykmgrSSGErvTkAeDluDONRPMcdAJTzIoeoJI6z8LKSnlQD1eRy
J0V4+ZkkUtnDHxwTyglD2yyOMp/RLKacWuBnY8Bv4vcsoxrYTw9GsoRqKkghg0QmsYs3eJB7KaOS
ZGr5kRvtRJlF/wfLX26vd6WwwAAAACV0RVh0ZGF0ZTpjcmVhdGUAMjAxOS0wNy0zMVQyMjo1MDox
NyswMzowMIgDEAsAAAAldEVYdGRhdGU6bW9kaWZ5ADIwMTktMDctMzFUMjI6NTA6MTcrMDM6MDD5
Xqi3AAAAAElFTkSuQmCC" />































































































































































































































































































































































































































































































































</svg>
            </div>
            <div id="coper">

            </div>
        </footer>


        @if (User.Identity.IsAuthenticated)
        {
            <div id="cart_box" class="anime main_flex__nowrap flex__jcontent_start flex__align-items_center">
                <div class="title_cart main_flex__nowrap flex__jcontent_between flex__align-items_center">
                    <p>Ваш личный кабинет</p>
                    <svg version="1.1" id="next" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                         viewBox="0 0 477.175 477.175" style="enable-background:new 0 0 477.175 477.175;" xml:space="preserve">
                    <path d="M360.731,229.075l-225.1-225.1c-5.3-5.3-13.8-5.3-19.1,0s-5.3,13.8,0,19.1l215.5,215.5l-215.5,215.5
		c-5.3,5.3-5.3,13.8,0,19.1c2.6,2.6,6.1,4,9.5,4c3.4,0,6.9-1.3,9.5-4l225.1-225.1C365.931,242.875,365.931,234.275,360.731,229.075z
		" />































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































</svg>
                </div>
                <div class="content_cabinet">
                    <div class="img_tm">
                        <div class="box_img_tm main_flex__nowrap flex__align-content_center flex__jcontent_center flex__align-items_center">
                            <img src="~/img/images/Layer13.png" alt="" />
                        </div>
                    </div>
                    <div class="name_tm">
                        <h3>@Model.User.Login</h3>
                        <h4>@Model.User.Email</h4>
                    </div>
                    <div class="balance main_flex__nowrap flex__jcontent_center flex__align-items_center">
                        <p>Ваш баланс: @Model.User.Money RUB</p>
                      
                    </div>

                    <div id="replenish" class="paymentsMove title_cart main_flex__nowrap flex__jcontent_between flex__align-items_center">
                        <p><a href="#payments">Пополнить счет</a></p>
                    
                    </div>

                    <div id="withdraw" class="paymentsMove title_cart main_flex__nowrap flex__jcontent_between flex__align-items_center">
                        <p><a href="#payments">Вывести деньги</a></p>
                        
                    </div>

                    <div id="transfer" class="paymentsMove title_cart main_flex__nowrap flex__jcontent_between flex__align-items_center">
                        <p><a href="#payments">Перевести деньги на другой счет</a></p>
                    
                    </div>

                    @if (User.IsInRole("admin"))
                    {
                        <p><a href="/Admin/Index">Перейти к панели администратора</a></p>
                    }
                </div>

                <button id="order" type="button"><a href="/Account/Logout">Exit</a></button>
            </div>
        }


        <div id="modal_box_signin">
            <div id="close_modal_signin">
                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                     viewBox="0 0 212.982 212.982" style="enable-background:new 0 0 212.982 212.982;" xml:space="preserve">
                <path style="fill-rule:evenodd;clip-rule:evenodd;" d="M131.804,106.491l75.936-75.936c6.99-6.99,6.99-18.323,0-25.312
		c-6.99-6.99-18.322-6.99-25.312,0l-75.937,75.937L30.554,5.242c-6.99-6.99-18.322-6.99-25.312,0c-6.989,6.99-6.989,18.323,0,25.312
		l75.937,75.936L5.242,182.427c-6.989,6.99-6.989,18.323,0,25.312c6.99,6.99,18.322,6.99,25.312,0l75.937-75.937l75.937,75.937
		c6.989,6.99,18.322,6.99,25.312,0c6.99-6.99,6.99-18.322,0-25.312L131.804,106.491z" />































































































































































































































































</svg>
            </div>
            <div id="content_modal_signin">
                <form id="form_call_signin" method="post" action="~/Account/Login">
                    <h1>Sign In</h1>
                    <input id="username" placeholder="Email" name="Email" autofocus="" required="" type="text">
                    <input id="password" placeholder="Password" name="Password" required="" type="password">
                    <button type="submit" id="submit" class="blue_btn btn">Sign In</button>

                    <a href="">Forget password?</a><a id="leha" asp-action="Register" asp-controller="Account">Sign Up</a>
                </form>
            </div>
        </div>


        <div id="modal_box_signup">
            <div id="close_modal_signup">
                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                     viewBox="0 0 212.982 212.982" style="enable-background:new 0 0 212.982 212.982;" xml:space="preserve">
                <path style="fill-rule:evenodd;clip-rule:evenodd;" d="M131.804,106.491l75.936-75.936c6.99-6.99,6.99-18.323,0-25.312
		c-6.99-6.99-18.322-6.99-25.312,0l-75.937,75.937L30.554,5.242c-6.99-6.99-18.322-6.99-25.312,0c-6.989,6.99-6.989,18.323,0,25.312
		l75.937,75.936L5.242,182.427c-6.989,6.99-6.989,18.323,0,25.312c6.99,6.99,18.322,6.99,25.312,0l75.937-75.937l75.937,75.937
		c6.989,6.99,18.322,6.99,25.312,0c6.99-6.99,6.99-18.322,0-25.312L131.804,106.491z" />































































































































































































































































































































































































































































































































</svg>
            </div>
            <div id="content_modal_signup">
                <form id="form_call_signup" method="post" action="~/Account/Register">
                    <h1>Sign Up</h1>
                    <input placeholder="Login" name="Login" autofocus="" required="" type="text">
                    <input placeholder="Email" name="Email" autofocus="" required="" type="text">
                    <input placeholder="Password" name="Password" required="" type="password">
                    <input placeholder="Confirm Password" name="ConfirmPassword" required="" type="password">
                    <button type="submit" id="submit" class="blue_btn btn">Sign Up</button>

                    <a href="">Are you already registered?</a><a id="leha" asp-action="Login" asp-controller="Account">Sign In</a>
                </form>
            </div>
        </div>

        <div id="black_fill"></div>
