@using Microsoft.AspNetCore.Builder
@using Microsoft.AspNetCore.Http.Features
@using Microsoft.AspNetCore.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Options


@inject IViewLocalizer Localizer
@inject IOptions<RequestLocalizationOptions> LocOptions

@model FakeApplication.Models.ViewModels.IndexViewModel;

<div id="p_prldr"><div class="contpre"><span class="svg_anm"></span></div></div>


@{
    // получаем сервис IRequestCultureFeature
    var requestCulture = Context.Features.Get<IRequestCultureFeature>();
    // получаем список поддерживаемых культур
    var cultureItems = LocOptions.Value.SupportedUICultures
    .Select(c => new SelectListItem { Value = c.Name, Text = c.DisplayName })
    .ToList();
}


<div id="header" class="main_flex flex__jcontent_center flex__align-content_space-between">
    <div id="top_header" class="wrap main_flex__nowrap flex__align-items_center flex__jcontent_between">
        <div id="phone">
            <form asp-controller="Home" asp-action="SetLanguage" style="margin-top:20px;"
                  asp-route-returnUrl="@Context.Request.Path"
                  method="post" class="form-horizontal">
                @Localizer["Language:"] <select id="language" name="culture" onchange="this.form.submit();"
                                                asp-for="@requestCulture.RequestCulture.UICulture.Name"
                                                asp-items="cultureItems"></select>
            </form>
        </div>

        @*<div id="logo">
                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 115 76" enable-background="new 0 0 115 76" xml:space="preserve">  <image id="image0" width="115" height="76" x="0" y="0"
                                                                                                                                                                                                                               xlink:href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAHMAAABMCAQAAAD0ZkAVAAAABGdBTUEAALGPC/xhBQAAACBjSFJN
            AAB6JQAAgIMAAPn/AACA6AAAUggAARVYAAA6lwAAF2/XWh+QAAAAAmJLR0QA/4ePzL8AAAAJcEhZ
            cwAACxMAAAsTAQCanBgAAAAHdElNRQfjBx8WMhF5NfMUAAAKXUlEQVR42u2baXBVRRbHf0leViUB
            WWRxYhxilSWCOM7IoowBN4agRMsFWTQWzoDiIDqOK4vWjERKx4kIJYgggWKkRCDIIJlAIZsojgsI
            qDggiAgKGAhGQkLy/vOBm5u+79235pGkKM/9kHO7T593/n36nu4+3YkTjUaFtCS/8X7OpLhGg9mB
            r0nkInY2Bcz4RvulJ0ghgXFNAbLxvJnJThKB2qbxZ2N580kSAZrKn43jzQvYYcFsIn82jjcn2iCb
            yJ+N4c1sviTBeG8CfzaGNyc4QEICjzQuSEDRPHO0Rl3ClL1YXvlStTLDbJ2jLRoflY2OJ7pmwyWd
            VIHSwpBdIDeaHkbLdporSerRVDAzdFKStFu5ISS7Gr6sUHXY/ozXKB2RJH2ruKaCiUpsg9/SeUHk
            ig0PPqcZYfrzMm2y5V5uOMjoYY40DD6msfIEMFeGL9soWzUh/Zmul1RrtOvblDDb+QSWT3SFi9Tb
            hsQLQuiNEP68Qwcceg8poSlhovU+QcWracpwSPQ0aivVQQh1DRJvL9RKv1A1KxYgGwLzIZf4eUB3
            GhIlRk2hq4dfsktT9IxOuGgMFeJOO8xMuVOpsoXQlS6+DOTjG7TTVVe5kpsaJvo4ANATGq9krXH1
            JUKr7fKN6qxOelOBaEFsQDYM5lMKTHsD+BKhayVJ+zVciRqrY0G03NYcYF5kGPRfLQlobKFfy/Wa
            rBbqqc0+kl5N1z6je85uDjDRlw6TrtPnLiB9fYmQR+foVb+17gZd5ui6t2MFsqEwnzWMGizk0UMq
            D+nLOOXroI/UdxqiOKHxRtndzQXm5YZRi6yydppl+Klav1J/Tdc5dpsuWucDsUoF9vDcbpeeNNo0
            MUyMUFNlLA5+p/et0hlC6ySV6T4l6CxNthb99bTMmoCQc/GwKnYgGw7zn4Zhwx0D824dUI2y1duu
            36JvfCDuUH+Htr8Zdfc1J5h9HH5x1qXrVjlXPSYd01+V5NOiPqR51bE5wYw3gkmVz5r2VP07riCL
            1N5P1hyyG2MJUg3OBXlZYvNJ3ORSP4Cb2OUo+4he3M33frK3G/yi5pALMp/+hg+WB5BJ1hOqkCQd
            1AjFB5Ay17WdY+vNhqtINGbKYJNAJ03XZJdhXfeYk9Pm2IKMBUw0zzBwRNRanjO0xCCX53xikact
            NvjbotZitiyOVsnp+zZRqiobvHYxh+xXQnG6Rt2blzcrecfma7g6Kh05nLT5xcAY+jKKfrFyZmzO
            UK6hL7v4mp3sJ1qFCWTyazqTzVy2MY40ajjMlOYEM/b0W3JJ5AWOntkwY0yNd/fgF5hnFsw0n3PO
            RiQPa3ie5RG1iaOAGvtovS1DLW42x4K0asvnzOPhoJofoCt/pjoia3owiaH2RuBGOgPwKWtpzxgq
            qGUaDyKpWsMimGrj9YqkYvu9uz2tZwVtt1CSV32CyhRKWqmzIrCmp8odv1x3AlcohPKVpXc1U+vj
            gUTmMSbMvktgHqOiGDW3cSsQx1zODiF5LatpE6bWfqwmPYTMh3RhE7Yvngmj75LsDHlk3mytH2yp
            YOeahZbM9qBnpnXPAB33+2WnN10WexOYGiIgJfFWlEvzKbSz+ZFcH1L+Yt7jwhAyN1FMargGmMBG
            M5+kgJJprODGqEDmMcTx/jotQ7bJZCO/CVI/lMXGXaOIYMJglpLmKpfB8igX0q2ZbnH/oQaAjmGt
            VNvwLn0D1N3D3MgmJ99h2p9VLn2dQSk5UYGEKZwLwLfcztNW2XDywmiZzgpXufuYHfF8b4eG4za3
            1Sd52NY40qmOMATl2bXXC3n0ofV2UG2DhKB6W2p1j4/Mo362RBSC/sg2i7uE9WTb5R1YzaUWv4jX
            IurD+gH7GqVADXdRBUBbXgnSrpSJFhfPbP5i1IxjssUdZng03sxRK/tIQPpe3YTQeUa+bb4S7P4O
            z5vzrZq9SrfLxtryQwN6s1hotHGfpMC6G1SfLzqkrsoK35smTJRm3Bco11XK1m77/TUl+BgSCqZz
            wNavotZapWXqFAQmGmwMy5nyaIr9tk9dRPQwUZJx+ey49tv8K1Z/hg+ztb63TXSCucDK2UrLfW5w
            +Wrvb3yl9aNqn3W4FAFM34hVzRCmWXwqHSzuBe4n0v13XYQt42WyHI940ZIZwL1BdZTQjyMW39n6
            u4urIr+m6vEr8fIAPzLBKJnM45GqNZYE57AliNw/WMXuIPUfcDUr6GS/7yKHfRFbE2D+mciDNv9k
            FCDrI2woasFs4oJKbKWPfQazjd7RgAy8rZ7CME4Cj1MQhda6ARsO5Rhd6k676c1mYAv9OBgNSLdB
            W0fz+YGWvBWFzvoBO4uKIHJX0AuASaxgR1CNB8lhNNMojw5kMJiwKiqN9QO2KESAacM2zgVSKeJK
            aoPKljMpWohwOnJBdQN2P2NDSB5mpMX14LGY23FaYdYP2D+FkUpeSpHFTaTb6YTp4SGLC28uWsIe
            AOP8+TtbQxmQYr0dCjONNpbNFteRz1y0B6Myxy+folmsAeBTp+gvWfcziX6BeSaRCTPRFXRyBNo8
            AdNQkWgJj9w0BkyCeYA4BjEMD8fw0IIM1jEOSOIeBlJFBWlksJlCDgCZfMZT9h4G4N8MBHZwlP2U
            46EF8ZQwm0qrG29nMF6OkUIGu3nREdEfJ5P7Lb49c/mSx6jkKN3Yy3wyuZnDtuwQ4F9AAsMYhPiJ
            VFqQzlqeAnIZwXFEMq0Qr/qt3pSghVpgZGZSlS+Urg9VoFSrLE6D9Z16C2XpfR3QBGMvt0YIHTVu
            CqRporaqg1Ci3tYctbRrrtW3utlo+7TmWNw12qTrLP7U/rFYCx1p6XzlC52tdZpk24XS9ahQN71n
            lHXyPyxBY/Wpy/96TDE2zqeekdojj7I0R1naoZfsDbE/TISmaqnQw/rE57LTDfpJrXxgJqlAM400
            Sh3MVvq7vrHvZ56COU1vuKTKBmplgH/4sbfVt7DIZT2Zy2KfkoWcz0UA7OEqelAUJHUNC8jFQy5L
            8TrKS/FypaPkYjYyiEdcTtPEOJ5nA5cbZbe6biZW8jN7KeVNZvI8Y8j0FYjHY9zhqCf/PaDZFYfo
            RxuWBTn2qSGeeOL8cg7C69Ddi2e5hY9Ya2cqnDSV0ZQaxxH+1h6lO1Xk0YUJFFHCTi7lcy7whVnK
            ABf1JX6J4Dz28IX9dpw8ylhD2wAwB1JCNSUM8umwq/Gwznj/glvYy10sZIM1VnxpEXfwJsNsv90Q
            4BeP8AHLWcQMRrCBS3y7N0WrNVUt7HHcXjPUVS31sSYpxQ5Bg7RbvYSy7KCBEjRDO7Xd79tM1sP6
            RB2EkrRCrxv39Prof8pzDUFohA6rn+PbrA9dPXREG5Qv1FHbNdqIJa1Voe4ar2HGt3mhthjfP0J4
            OMH1DGEeNZzAQxJJLOMrqujFvSykmgrSSGErvTkAeDluDONRPMcdAJTzIoeoJI6z8LKSnlQD1eRy
            J0V4+ZkkUtnDHxwTyglD2yyOMp/RLKacWuBnY8Bv4vcsoxrYTw9GsoRqKkghg0QmsYs3eJB7KaOS
            ZGr5kRvtRJlF/wfLX26vd6WwwAAAACV0RVh0ZGF0ZTpjcmVhdGUAMjAxOS0wNy0zMVQyMjo1MDox
            NyswMzowMIgDEAsAAAAldEVYdGRhdGU6bW9kaWZ5ADIwMTktMDctMzFUMjI6NTA6MTcrMDM6MDD5
            Xqi3AAAAAElFTkSuQmCC" />















            </svg>
                    </div>*@


        <div id="right_top_header" class="main_flex__nowrap flex__align-items_center flex__jcontent_between">
            @if (!User.Identity.IsAuthenticated)
            {
                <div id="signin" class="btn main_flex__nowrap flex__align-items_center flex__jcontent_between">
                    <svg version="1.1" id="signin_img" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                         width="438.542px" height="438.542px" viewBox="0 0 438.542 438.542" style="enable-background:new 0 0 438.542 438.542;"
                         xml:space="preserve">
                    <path d="M414.41,60.676c-16.084-16.083-35.446-24.125-58.102-24.125h-91.357c-2.478,0-4.429,0.614-5.853,1.855
			c-1.431,1.237-2.382,3.093-2.854,5.568c-0.479,2.474-0.76,4.709-0.853,6.707c-0.096,1.997-0.051,4.521,0.144,7.565
			c0.186,3.046,0.281,4.949,0.281,5.713c0.571,1.524,0.767,2.81,0.571,3.855c-0.191,1.043,0.476,1.903,1.998,2.568
			c1.52,0.666,2.279,1.191,2.279,1.569c0,0.378,1.096,0.662,3.285,0.855c2.19,0.192,3.289,0.284,3.289,0.284h3.713h3.142h82.228
			c12.56,0,23.312,4.471,32.258,13.422c8.952,8.945,13.422,19.696,13.422,32.261V319.77c0,12.563-4.47,23.312-13.422,32.258
			c-8.945,8.948-19.698,13.421-32.258,13.421h-91.357c-2.478,0-4.436,0.62-5.853,1.855c-1.43,1.242-2.382,3.094-2.857,5.564
			c-0.476,2.478-0.763,4.716-0.855,6.714c-0.092,1.995-0.051,4.518,0.144,7.563c0.195,3.046,0.288,4.948,0.288,5.708
			c0,2.478,0.896,4.613,2.707,6.427c1.81,1.807,3.949,2.71,6.427,2.71h91.357c22.648,0,42.018-8.042,58.095-24.133
			c16.084-16.077,24.126-35.446,24.126-58.095V118.769C438.533,96.118,430.491,76.754,414.41,60.676z" />







                    <path d="M338.047,219.27c0-4.948-1.813-9.233-5.427-12.85L177.302,51.101c-3.616-3.612-7.895-5.424-12.847-5.424
			c-4.952,0-9.233,1.812-12.85,5.424c-3.615,3.617-5.424,7.904-5.424,12.85v82.226H18.274c-4.952,0-9.235,1.812-12.851,5.424
			C1.807,155.219,0,159.503,0,164.452v109.635c0,4.949,1.807,9.233,5.424,12.848c3.619,3.61,7.902,5.427,12.851,5.427h127.906
			v82.225c0,4.945,1.809,9.233,5.424,12.847c3.621,3.617,7.902,5.428,12.85,5.428c4.949,0,9.231-1.811,12.847-5.428l155.318-155.312
			C336.234,228.501,338.047,224.216,338.047,219.27z" />



</svg>

                    @Localizer["SignIn"]
                </div>
                <div id="signup" class="btn main_flex__nowrap flex__align-items_center flex__jcontent_between">
                    <svg version="1.1" id="signup_img" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                         width="27.021px" height="27.022px" viewBox="0 0 27.021 27.022" style="enable-background:new 0 0 27.021 27.022;"
                         xml:space="preserve">
                    <path d="M17.855,21.223c0-1.902,1.049-3.55,2.588-4.44c-0.963-0.308-2-0.552-3.09-0.722c2.342-1.299,3.929-3.794,3.929-6.663
		c0-4.207-3.41-7.617-7.617-7.617s-7.617,3.41-7.617,7.617c0,2.868,1.587,5.364,3.929,6.663C4.223,16.958,0,19.897,0,23.389h18.35
		C18.041,22.727,17.855,22,17.855,21.223z" />



                    <path d="M23.004,17.206c-2.218,0-4.018,1.797-4.018,4.018c0,2.219,1.8,4.017,4.018,4.017c2.219,0,4.018-1.798,4.018-4.017
		C27.02,19.002,25.223,17.206,23.004,17.206z M25.627,21.936h-1.909v1.91h-1.427v-1.91h-1.91v-1.429h1.91v-1.911h1.427v1.911h1.909
		V21.936z" />



</svg>

                    @Localizer["SignUp"]

                </div>
            }

        </div>

        @if (User.Identity.IsAuthenticated)
        {
            <div id="cart" class="btn main_flex__nowrap flex__align-items_center flex__jcontent_between">
                <svg version="1.1" id="cart_img" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                     width="409.165px" height="409.164px" viewBox="0 0 409.165 409.164" style="enable-background:new 0 0 409.165 409.164;"
                     xml:space="preserve">

                <path d="M204.583,216.671c50.664,0,91.74-48.075,91.74-107.378c0-82.237-41.074-107.377-91.74-107.377
			c-50.668,0-91.74,25.14-91.74,107.377C112.844,168.596,153.916,216.671,204.583,216.671z" />



                <path d="M407.164,374.717L360.88,270.454c-2.117-4.771-5.836-8.728-10.465-11.138l-71.83-37.392
			c-1.584-0.823-3.502-0.663-4.926,0.415c-20.316,15.366-44.203,23.488-69.076,23.488c-24.877,0-48.762-8.122-69.078-23.488
			c-1.428-1.078-3.346-1.238-4.93-0.415L58.75,259.316c-4.631,2.41-8.346,6.365-10.465,11.138L2.001,374.717
			c-3.191,7.188-2.537,15.412,1.75,22.005c4.285,6.592,11.537,10.526,19.4,10.526h362.861c7.863,0,15.117-3.936,19.402-10.527
			C409.699,390.129,410.355,381.902,407.164,374.717z" />



</svg>

                @Localizer["Account"]
            </div>
        }
    </div>
    <div id="bottom_header">
        <nav class="wrap
             main_flex__nowrap
             flex__align-items_center
             flex__jcontent_between">
            <li><a href="#header">Home</a></li>
            <li><a href="#about">About us</a></li>
            <li><a href="#gallery">Gallery</a></li>
            <li><a href="#consultation">Consultation</a></li>
            <li><a href="#testimonials">Testimonials</a></li>
            <li><a href="#contacts">Contacts</a></li>
        </nav>
    </div>
</div>

<div id="about">
    <div class="wrap main_flex__nowrap flex__jcontent_between flex__align-items_start">
        <div id="title_about" class="wow fadeInLeft" data-wow-offset="50" data-wow-duration="1.5s">
            <p>Miami best</p>
            <p>Realry<span class="blue">—</span></p>
            <p class="blue">this</p>
        </div>
        <div id="text_about" class="wow fadeInRight" data-wow-offset="50" data-wow-duration="1.5s">
            <p>
                <strong>Over 50 years experience in love.</strong>
            </p>
            <p>
                Mazel and VA Tsukkerman in his "Analysis of musical works." Pointillism, which originated in the music of the early twentieth century, microforms, found a distant historical.
            </p>
            <ul>
                <li>1.  The market leader in real estate since 2003</li>
                <li>2.  Awards Real Estate Company, 2010, 2011, 2013</li>
                <li>3.  More than 200 satisfied customers premium segment</li>
                <li>4.  We focus only on new buildings and high-level doskanalno know this area better than other specialists.</li>
                <li>
                    5.  Working directly with developers - so have more
                    useful information about the profitable deals
                </li>
            </ul>


            <p><strong>We will never late!</strong></p>
            <p><strong>Guaranteed secure transaction - 100%</strong></p>
        </div>
    </div>
</div>

<div id="gallery">
    <div class="title">
        <h2>Game Library</h2>
        <div class="dec main_flex__nowrap flex__align-items_center flex__jcontent_between">
            <dec class="line"></dec>
            <div class="dec_svg">
                <svg version="1.1" id="" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 20 13" enable-background="new 0 0 20 13" xml:space="preserve">  <image id="image0" width="20" height="13" x="0" y="0"
                                                                                                                                                                                                                           xlink:href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAANCAMAAACejr5sAAAABGdBTUEAALGPC/xhBQAAACBjSFJN
AAB6JQAAgIMAAPn/AACA6AAAUggAARVYAAA6lwAAF2/XWh+QAAAA51BMVEUAqu8Aqu8Aqu8Aqu8A
qu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8A
qu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8A
qu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8A
qu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu////+I3Aw7AAAAS3RS
TlMAGu3ICAfHaLsPablmAWHouhD6+xUy7OvmVxRcmP3+oBFI45mswNdxUK0J9PZ8PuEF3nVPIwJf
YtQgtJ9YW9XdVlV3BNrSeFTRZFH8mepJAAAAAWJLR0RM928Q8wAAAAlwSFlzAAALEwAACxMBAJqc
GAAAAAd0SU1FB+MHHxclI7WjTDUAAADASURBVBjTZY9ZV4JgEIZfMA1iMUQJQdIW3DWJ0Eor96X3
//8f+TjpRc7FzDPPOXNmBoAk567wF/mCLGVwTUUUVRVZ4U0mNeqAYRaLpgHovBXOKtllVAp07txq
BZ5dslLpU/FqwX3dazw8Bk+eQj+VzwwdNlttMRpQDtkBuj2yPxgGL6NRRP817XpdxKT2hqTJ8YTv
CT4+yRhTdybWffH7h3NBC7eOpZXdtVqTmyRDdXt6BSa5w/9YRXvjQuLwe8YjERoXnGeml10AAAAl
dEVYdGRhdGU6Y3JlYXRlADIwMTktMDctMzFUMjM6Mzc6MzUrMDM6MDCKRg7gAAAAJXRFWHRkYXRl
Om1vZGlmeQAyMDE5LTA3LTMxVDIzOjM3OjM1KzAzOjAw+xu2XAAAAABJRU5ErkJggg==" />































































































































































































































































</svg>
            </div>
            <dec class="line"></dec>
        </div>
    </div>
    <div class="wrap" id="gallery_box">
        <div class="gallery_line main_flex__nowrap flex__jcontent_between">
            <div class="box_img_gallery wow fadeInLeft" data-wow-offset="50" data-wow-delay="0s" data-wow-duration="1.5s">
                <img src="~/img/images/dota2head.jpg" alt="" id="myImg1" />
                <div id="myModal" class="modal">
                    <span class="close" onclick="document.getElementById('myModal').style.display='none'">&times;</span>
                    <img class="modal-content" id="img01" />
                    <div id="caption"></div>
                </div>
            </div>
            <div class="box_img_gallery wow fadeInRight" data-wow-offset="50" data-wow-delay="0.2s" data-wow-duration="1.5s">
                <img src="~/img/images/dota2head1.jpg" alt="" id="myImg2" />
            </div>

        </div>
        <div class="name_gallery wow fadeInLeft" data-wow-offset="50" data-wow-delay="0s" data-wow-duration="1.5s">
            Steam / <span class="blue"><a href="https://store.steampowered.com/app/570/Dota_2/?l=russian">Dota 2</a></span>
        </div>

        <div class="gallery_line main_flex__nowrap flex__jcontent_between">
            <div class="box_img_gallery wow rotateInUpLeft" data-wow-offset="50" data-wow-delay="0s" data-wow-duration="1.5s">
                <img src="~/img/images/csgohead1.jpg" alt="" id="myImg3" />
            </div>
            <div class="box_img_gallery wow rotateInUpRight" data-wow-offset="50" data-wow-delay="0s" data-wow-duration="1.5s">
                <img src="~/img/images/csgohead.jpg" alt="" id="myImg4" />
            </div>

        </div>
        <div class="name_gallery wow fadeInLeft" data-wow-offset="50" data-wow-delay="0s" data-wow-duration="1.5s">
            Steam / <span class="blue"><a href="https://store.steampowered.com/app/730/CounterStrike_Global_Offensive/?l=russian">Counter-Strike: Global Offensive</a></span>
        </div>

        <div class="gallery_line main_flex__nowrap flex__jcontent_between">
            <div class="box_img_gallery wow fadeInDownBig" data-wow-offset="50" data-wow-delay="0s" data-wow-duration="1.5s">
                <img src="~/img/images/pubghead.jpg" alt="" id="myImg5" />
            </div>
            <div class="box_img_gallery wow fadeInUpBig" data-wow-offset="50" data-wow-delay="0s" data-wow-duration="1.5s">
                <img src="~/img/images/pubghead1.jpg" alt="" id="myImg6" />
            </div>

        </div>
        <div class="name_gallery wow fadeInLeft" data-wow-offset="50" data-wow-delay="0s" data-wow-duration="1.5s">
            Steam / <span class="blue"><a href="https://store.steampowered.com/app/578080/PLAYERUNKNOWNS_BATTLEGROUNDS/">PLAYERUNKNOWN'S BATTLEGROUNDS</a></span>
        </div>

        <div class="main_flex__nowrap flex__jcontent_center">
            <button class="btn blue_btn" id="view_all_gallery" type="button">View All</button>
        </div>

    </div>
</div>

<div id="consultation">
    <div class="title">
        <h2>Consultation</h2>
        <div class="dec main_flex__nowrap flex__align-items_center flex__jcontent_between">
            <dec class="line"></dec>
            <div class="dec_svg">
                <svg version="1.1" id="" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 20 13" enable-background="new 0 0 20 13" xml:space="preserve">  <image id="image0" width="20" height="13" x="0" y="0"
                                                                                                                                                                                                                           xlink:href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAANCAMAAACejr5sAAAABGdBTUEAALGPC/xhBQAAACBjSFJN
AAB6JQAAgIMAAPn/AACA6AAAUggAARVYAAA6lwAAF2/XWh+QAAAA51BMVEUAqu8Aqu8Aqu8Aqu8A
qu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8A
qu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8A
qu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8A
qu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu////+I3Aw7AAAAS3RS
TlMAGu3ICAfHaLsPablmAWHouhD6+xUy7OvmVxRcmP3+oBFI45mswNdxUK0J9PZ8PuEF3nVPIwJf
YtQgtJ9YW9XdVlV3BNrSeFTRZFH8mepJAAAAAWJLR0RM928Q8wAAAAlwSFlzAAALEwAACxMBAJqc
GAAAAAd0SU1FB+MHHxclI7WjTDUAAADASURBVBjTZY9ZV4JgEIZfMA1iMUQJQdIW3DWJ0Eor96X3
//8f+TjpRc7FzDPPOXNmBoAk567wF/mCLGVwTUUUVRVZ4U0mNeqAYRaLpgHovBXOKtllVAp07txq
BZ5dslLpU/FqwX3dazw8Bk+eQj+VzwwdNlttMRpQDtkBuj2yPxgGL6NRRP817XpdxKT2hqTJ8YTv
CT4+yRhTdybWffH7h3NBC7eOpZXdtVqTmyRDdXt6BSa5w/9YRXvjQuLwe8YjERoXnGeml10AAAAl
dEVYdGRhdGU6Y3JlYXRlADIwMTktMDctMzFUMjM6Mzc6MzUrMDM6MDCKRg7gAAAAJXRFWHRkYXRl
Om1vZGlmeQAyMDE5LTA3LTMxVDIzOjM3OjM1KzAzOjAw+xu2XAAAAABJRU5ErkJggg==" />































































































































































































































































































































































































































































































































</svg>
            </div>
            <dec class="line"></dec>
        </div>
    </div>

    <div class="wrap main_flex__nowrap flex__jcontent_between flex__align-items_start">
        <div id="text_consultation" class="wow slideInDown" data-wow-offset="50" data-wow-delay="0s" data-wow-duration="2s">
            <h2>How long have<br>you do yourself a gift?</h2>
            <p>
                The procedural change mezzo forte starts izoritmichesky pickup at these moments
                stop LA Mazel and VA Tsukkerman in his "Analysis of musical works." Pointillism, which
                originated in the music of the early twentieth century, microforms, found a distant historical
            </p>
        </div>
        <div id="form_consultation">
            <form action="" name="consultation" id="form_consultation">
                <input type="text" placeholder="Name" class="wow fadeInLeft" data-wow-offset="50" data-wow-delay="0s" data-wow-duration="2s" />
                <input type="text" placeholder="Phone" class="wow fadeInLeft" data-wow-offset="50" data-wow-delay="0.2s" data-wow-duration="2s" />
                <input type="text" placeholder="Email" class="wow fadeInLeft" data-wow-offset="50" data-wow-delay="0.4s" data-wow-duration="2s" />
                <button type="submit" class="blue_btn btn wow fadeInLeft" data-wow-offset="50" data-wow-delay="0.6s" data-wow-duration="2s">Consultation</button>
            </form>
        </div>
    </div>
</div>

<div id="testimonials">
    <div class="title">
        <h2>Testimonials</h2>
        <div class="dec main_flex__nowrap flex__align-items_center flex__jcontent_between">
            <dec class="line"></dec>
            <div class="dec_svg">
                <svg version="1.1" id="" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 20 13" enable-background="new 0 0 20 13" xml:space="preserve">  <image id="image0" width="20" height="13" x="0" y="0"
                                                                                                                                                                                                                           xlink:href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAANCAMAAACejr5sAAAABGdBTUEAALGPC/xhBQAAACBjSFJN
AAB6JQAAgIMAAPn/AACA6AAAUggAARVYAAA6lwAAF2/XWh+QAAAA51BMVEUAqu8Aqu8Aqu8Aqu8A
qu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8A
qu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8A
qu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8A
qu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu////+I3Aw7AAAAS3RS
TlMAGu3ICAfHaLsPablmAWHouhD6+xUy7OvmVxRcmP3+oBFI45mswNdxUK0J9PZ8PuEF3nVPIwJf
YtQgtJ9YW9XdVlV3BNrSeFTRZFH8mepJAAAAAWJLR0RM928Q8wAAAAlwSFlzAAALEwAACxMBAJqc
GAAAAAd0SU1FB+MHHxclI7WjTDUAAADASURBVBjTZY9ZV4JgEIZfMA1iMUQJQdIW3DWJ0Eor96X3
//8f+TjpRc7FzDPPOXNmBoAk567wF/mCLGVwTUUUVRVZ4U0mNeqAYRaLpgHovBXOKtllVAp07txq
BZ5dslLpU/FqwX3dazw8Bk+eQj+VzwwdNlttMRpQDtkBuj2yPxgGL6NRRP817XpdxKT2hqTJ8YTv
CT4+yRhTdybWffH7h3NBC7eOpZXdtVqTmyRDdXt6BSa5w/9YRXvjQuLwe8YjERoXnGeml10AAAAl
dEVYdGRhdGU6Y3JlYXRlADIwMTktMDctMzFUMjM6Mzc6MzUrMDM6MDCKRg7gAAAAJXRFWHRkYXRl
Om1vZGlmeQAyMDE5LTA3LTMxVDIzOjM3OjM1KzAzOjAw+xu2XAAAAABJRU5ErkJggg==" />































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































</svg>
            </div>
            <dec class="line"></dec>
        </div>
    </div>
    <div class="wrap main_flex__nowrap flex__jcontent_between" id="slide">
        <div class="box_tm">
            <div class="img_tm">
                <div class="box_img_tm main_flex__nowrap flex__align-content_center flex__jcontent_center flex__align-items_center">
                    <img src="~/img/images/Layer13.png" alt="" />
                </div>
            </div>
            <div class="name_tm">
                <h3>Leha</h3>
                <h4>Garnich</h4>
            </div>
            <div class="text_tm">
                <p>
                    Good Site
                </p>
            </div>
        </div>
        <div class="box_tm">
            <div class="img_tm">
                <div class="box_img_tm main_flex__nowrap flex__align-content_center flex__jcontent_center flex__align-items_center">
                    <img src="~/img/images/Layer13.png" alt="" />
                </div>
            </div>
            <div class="name_tm">
                <h3>Leha</h3>
                <h4>Garnich</h4>
            </div>
            <div class="text_tm">
                <p>
                    Good Site
                </p>
            </div>
        </div>
        <div class="box_tm">
            <div class="img_tm">
                <div class="box_img_tm main_flex__nowrap flex__align-content_center flex__jcontent_center flex__align-items_center">
                    <img src="~/img/images/Layer13.png" alt="" />
                </div>
            </div>
            <div class="name_tm">
                <h3>Leha</h3>
                <h4>Garnich</h4>
            </div>
            <div class="text_tm">
                <p>
                    Good Site
                </p>
            </div>
        </div>
        @foreach (var item in Model.Comments)
        {
            <div class="box_tm">
                <div class="img_tm">
                    <div class="box_img_tm main_flex__nowrap flex__align-content_center flex__jcontent_center flex__align-items_center">
                        <img src="~/img/images/Layer13.png" alt="" />
                    </div>
                </div>
                <div class="name_tm">
                    <h3>@item.User.Login</h3>
                    <h4>@item.User.Email</h4>
                </div>
                <div class="text_tm">
                    <p>
                        @item.Content
                    </p>
                </div>
            </div>
        }
    </div>



</div>

@if (User.Identity.IsAuthenticated)
{
    <div id="contacts">
        <div class="title">
            <h2>Add Testimonial</h2>
            <div class="dec main_flex__nowrap flex__align-items_center flex__jcontent_between">
                <dec class="line"></dec>
                <div class="dec_svg">
                    <svg version="1.1" id="" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 20 13" enable-background="new 0 0 20 13" xml:space="preserve">  <image id="image0" width="20" height="13" x="0" y="0"
                                                                                                                                                                                                                               xlink:href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAANCAMAAACejr5sAAAABGdBTUEAALGPC/xhBQAAACBjSFJN
AAB6JQAAgIMAAPn/AACA6AAAUggAARVYAAA6lwAAF2/XWh+QAAAA51BMVEUAqu8Aqu8Aqu8Aqu8A
qu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8A
qu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8A
qu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8A
qu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu////+I3Aw7AAAAS3RS
TlMAGu3ICAfHaLsPablmAWHouhD6+xUy7OvmVxRcmP3+oBFI45mswNdxUK0J9PZ8PuEF3nVPIwJf
YtQgtJ9YW9XdVlV3BNrSeFTRZFH8mepJAAAAAWJLR0RM928Q8wAAAAlwSFlzAAALEwAACxMBAJqc
GAAAAAd0SU1FB+MHHxclI7WjTDUAAADASURBVBjTZY9ZV4JgEIZfMA1iMUQJQdIW3DWJ0Eor96X3
//8f+TjpRc7FzDPPOXNmBoAk567wF/mCLGVwTUUUVRVZ4U0mNeqAYRaLpgHovBXOKtllVAp07txq
BZ5dslLpU/FqwX3dazw8Bk+eQj+VzwwdNlttMRpQDtkBuj2yPxgGL6NRRP817XpdxKT2hqTJ8YTv
CT4+yRhTdybWffH7h3NBC7eOpZXdtVqTmyRDdXt6BSa5w/9YRXvjQuLwe8YjERoXnGeml10AAAAl
dEVYdGRhdGU6Y3JlYXRlADIwMTktMDctMzFUMjM6Mzc6MzUrMDM6MDCKRg7gAAAAJXRFWHRkYXRl
Om1vZGlmeQAyMDE5LTA3LTMxVDIzOjM3OjM1KzAzOjAw+xu2XAAAAABJRU5ErkJggg==" />































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































</svg>
                </div>
                <dec class="line"></dec>
            </div>
        </div>

        <div class="wrap main_flex__nowrap flex__jcontent_between">
            <ul id="contact_list" class="wow rollIn" data-wow-offset="50" data-wow-duration="2s">
                <li>Hello@miami.com</li>
                <li>
                    8 800 678 78 78<br>
                    8 800 700 97 97
                </li>
                <li>
                    400 first ave. n.<br>
                    suite 700<br>
                    Minneapolis, NM 55401
                </li>
            </ul>

            <div id="form_contact">
                <form action="~/Home/Comment" name="contact" id="form_cont">
                    <input type="text" placeholder="Name" class="wow fadeInLeft" data-wow-offset="50" data-wow-delay="0s" data-wow-duration="2s" />
                    <input type="text" placeholder="Email" class="wow fadeInRight" data-wow-offset="50" data-wow-delay="0s" data-wow-duration="2s" />
                    <textarea placeholder="Message" name="Content" class="wow fadeInLeft" data-wow-offset="50" data-wow-delay="0s" data-wow-duration="2s"></textarea>
                    <button type="submit" class="blue_btn btn wow fadeInRight" data-wow-offset="50" data-wow-delay="0s" data-wow-duration="2s">Write to us</button>
                </form>
            </div>
        </div>
    </div>
}
<div id="frequently_question">
    <div class="title">
        <h2>Frequently Asked Questions</h2>
        <div class="dec main_flex__nowrap flex__align-items_center flex__jcontent_between">
            <dec class="line"></dec>
            <div class="dec_svg">
                <svg version="1.1" id="" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 20 13" enable-background="new 0 0 20 13" xml:space="preserve">  <image id="image0" width="20" height="13" x="0" y="0"
                                                                                                                                                                                                                           xlink:href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAANCAMAAACejr5sAAAABGdBTUEAALGPC/xhBQAAACBjSFJN
AAB6JQAAgIMAAPn/AACA6AAAUggAARVYAAA6lwAAF2/XWh+QAAAA51BMVEUAqu8Aqu8Aqu8Aqu8A
qu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8A
qu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8A
qu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8A
qu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu////+I3Aw7AAAAS3RS
TlMAGu3ICAfHaLsPablmAWHouhD6+xUy7OvmVxRcmP3+oBFI45mswNdxUK0J9PZ8PuEF3nVPIwJf
YtQgtJ9YW9XdVlV3BNrSeFTRZFH8mepJAAAAAWJLR0RM928Q8wAAAAlwSFlzAAALEwAACxMBAJqc
GAAAAAd0SU1FB+MHHxclI7WjTDUAAADASURBVBjTZY9ZV4JgEIZfMA1iMUQJQdIW3DWJ0Eor96X3
//8f+TjpRc7FzDPPOXNmBoAk567wF/mCLGVwTUUUVRVZ4U0mNeqAYRaLpgHovBXOKtllVAp07txq
BZ5dslLpU/FqwX3dazw8Bk+eQj+VzwwdNlttMRpQDtkBuj2yPxgGL6NRRP817XpdxKT2hqTJ8YTv
CT4+yRhTdybWffH7h3NBC7eOpZXdtVqTmyRDdXt6BSa5w/9YRXvjQuLwe8YjERoXnGeml10AAAAl
dEVYdGRhdGU6Y3JlYXRlADIwMTktMDctMzFUMjM6Mzc6MzUrMDM6MDCKRg7gAAAAJXRFWHRkYXRl
Om1vZGlmeQAyMDE5LTA3LTMxVDIzOjM3OjM1KzAzOjAw+xu2XAAAAABJRU5ErkJggg==" />































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































</svg>
            </div>
            <dec class="line"></dec>
        </div>
    </div>

    <div class="wrap main_flex__nowrap flex__jcontent_between">
        <section class="frequently_area">
            <div class="container">
                <div class="row frequent_inner">
                    <div class="col-lg-5 col-md-5">
                        <div class="frequent_item">
                            <h3>We Believe that Interior beauty Lasts Long</h3>
                            <p>
                                inappropriate behavior is often laughed off as “boys will be boys,” women face higher conduct standards
                                especially in the workplace. That’s why it’s crucial that as women.
                            </p>
                        </div>
                    </div>
                    <div class="offset-lg-2 col-lg-5 offset-md-2 col-md-5">
                        <div class="frequent_item">
                            <h3>We Believe that Interior beauty Lasts Long</h3>
                            <p>
                                inappropriate behavior is often laughed off as “boys will be boys,” women face higher conduct standards
                                especially in the workplace. That’s why it’s crucial that as women.
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-5 col-md-5">
                        <div class="frequent_item">
                            <h3>We Believe that Interior beauty Lasts Long</h3>
                            <p>
                                inappropriate behavior is often laughed off as “boys will be boys,” women face higher conduct standards
                                especially in the workplace. That’s why it’s crucial that as women.
                            </p>
                        </div>
                    </div>
                    <div class="offset-lg-2 col-lg-5 offset-md-2 col-md-5">
                        <div class="frequent_item">
                            <h3>We Believe that Interior beauty Lasts Long</h3>
                            <p>
                                inappropriate behavior is often laughed off as “boys will be boys,” women face higher conduct standards
                                especially in the workplace. That’s why it’s crucial that as women.
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-5 col-md-5">
                        <div class="frequent_item last-child">
                            <h3>We Believe that Interior beauty Lasts Long</h3>
                            <p>
                                inappropriate behavior is often laughed off as “boys will be boys,” women face higher conduct standards
                                especially in the workplace. That’s why it’s crucial that as women.
                            </p>
                        </div>
                    </div>
                    <div class="offset-lg-2 col-lg-5 offset-md-2 col-md-5">
                        <div class="frequent_item last-child">
                            <h3>We Believe that Interior beauty Lasts Long</h3>
                            <p>
                                inappropriate behavior is often laughed off as “boys will be boys,” women face higher conduct standards
                                especially in the workplace. That’s why it’s crucial that as women.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>

<div id="payments">
    <div class="title">
        <h2>Payments</h2>
        <div class="dec main_flex__nowrap flex__align-items_center flex__jcontent_between">
            <dec class="line"></dec>
            <div class="dec_svg">
                <svg version="1.1" id="" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 20 13" enable-background="new 0 0 20 13" xml:space="preserve">  <image id="image0" width="20" height="13" x="0" y="0"
                                                                                                                                                                                                                           xlink:href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAANCAMAAACejr5sAAAABGdBTUEAALGPC/xhBQAAACBjSFJN
AAB6JQAAgIMAAPn/AACA6AAAUggAARVYAAA6lwAAF2/XWh+QAAAA51BMVEUAqu8Aqu8Aqu8Aqu8A
qu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8A
qu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8A
qu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8A
qu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu8Aqu////+I3Aw7AAAAS3RS
TlMAGu3ICAfHaLsPablmAWHouhD6+xUy7OvmVxRcmP3+oBFI45mswNdxUK0J9PZ8PuEF3nVPIwJf
YtQgtJ9YW9XdVlV3BNrSeFTRZFH8mepJAAAAAWJLR0RM928Q8wAAAAlwSFlzAAALEwAACxMBAJqc
GAAAAAd0SU1FB+MHHxclI7WjTDUAAADASURBVBjTZY9ZV4JgEIZfMA1iMUQJQdIW3DWJ0Eor96X3
//8f+TjpRc7FzDPPOXNmBoAk567wF/mCLGVwTUUUVRVZ4U0mNeqAYRaLpgHovBXOKtllVAp07txq
BZ5dslLpU/FqwX3dazw8Bk+eQj+VzwwdNlttMRpQDtkBuj2yPxgGL6NRRP817XpdxKT2hqTJ8YTv
CT4+yRhTdybWffH7h3NBC7eOpZXdtVqTmyRDdXt6BSa5w/9YRXvjQuLwe8YjERoXnGeml10AAAAl
dEVYdGRhdGU6Y3JlYXRlADIwMTktMDctMzFUMjM6Mzc6MzUrMDM6MDCKRg7gAAAAJXRFWHRkYXRl
Om1vZGlmeQAyMDE5LTA3LTMxVDIzOjM3OjM1KzAzOjAw+xu2XAAAAABJRU5ErkJggg==" />































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































</svg>
            </div>
            <dec class="line"></dec>
        </div>
    </div>

    <div class="wrap main_flex__nowrap flex__jcontent_between">
        <div id="tabs">
            <div class="tab whiteboarder">Пополнить</div>
            <div class="tab">Вывести</div>
            <div class="tab">Перевести</div>
            <div class="tabContent main_flex__nowrap flex__jcontent_between">


            </div>
            <div class="tabContent">2</div>
            <div class="tabContent">3</div>
        </div>
    </div>
</div>


<div id="footer">
    <div class="wrap main_flex__nowrap flex__jcontent_between">
        <div id="footer-item-first">
            <pre><p>Интернет-магазин Studio
Fashion - женская и
мужская одежда, обувь и
аксессуары        </pre>
        </div>
        <div id="footer-item-second">
            <h5>
                <p>Наш сервис</p>
                <pre><a href="#">Доставка товара</a>

<a href="#">Способы оплаты</a>

<a href="#">Возврат товара</a></pre>
            </h5>
        </div>
        <div id="footer-item-third">
            <h5>
                <p>Магазин</p>

                <pre><a href="#">О нас</a>

<a href="#">Fashion новости</a>

<a href="#">Fashion TV</a>

<a href="#">Связаться с нами</a>

<a href="#">Карта сайта</a></pre>
            </h5>
        </div>
        <div id="footer-item-fourth">
            <h5>
                <p>Контакты</p>

                <pre>+38 (050) 419-66-20
+38 (096) 551-12-44

Киев, ул. Горького 19/21 - Антоновича
Пн-Пт 10:00 - 20:00
Cб-Вс 11:30-19:00

sale@studio-fashion.com</pre>
            </h5>
        </div>
        <div id="footer-item-fifth">
            <p>Соц.медиа</p>
            <ul>
                <li><a href="#"><img src="~/img/images/face.png" /></a></li>
                <li><a href="#"><img src="~/img/images/vk.png" /></a></li>
                <li><a href="#"><img src="~/img/images/insta.png" /></a></li>
                <li><a href="#"><img src="~/img/images/google.png" /></a></li>
                <li><a href="#"><img src="~/img/images/twit.png" /></a></li>
            </ul>
        </div>
    </div>
</div>






@if (User.Identity.IsAuthenticated)
{
    <div id="cart_box" class="anime main_flex__nowrap flex__jcontent_start flex__align-items_center">
        <div class="title_cart main_flex__nowrap flex__jcontent_between flex__align-items_center">
            <p>Ваш личный кабинет</p>
            <svg version="1.1" id="next" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                 viewBox="0 0 477.175 477.175" style="enable-background:new 0 0 477.175 477.175;" xml:space="preserve">
            <path d="M360.731,229.075l-225.1-225.1c-5.3-5.3-13.8-5.3-19.1,0s-5.3,13.8,0,19.1l215.5,215.5l-215.5,215.5
		c-5.3,5.3-5.3,13.8,0,19.1c2.6,2.6,6.1,4,9.5,4c3.4,0,6.9-1.3,9.5-4l225.1-225.1C365.931,242.875,365.931,234.275,360.731,229.075z
		" />































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































</svg>
        </div>
        <div class="content_cabinet">
            <div class="img_tm">
                <div class="box_img_tm main_flex__nowrap flex__align-content_center flex__jcontent_center flex__align-items_center">
                    <img src="~/img/images/Layer13.png" alt="" />
                </div>
            </div>
            <div class="name_tm">
                <h3>@Model.User.Login</h3>
                <h4>@Model.User.Email</h4>
            </div>
            <div class="balance main_flex__nowrap flex__jcontent_center flex__align-items_center">
                <p>Ваш баланс: @Model.User.Money RUB</p>
                @*<input type="text" id="balance_money" readonly value="@Model.User.Money" onchange="alert(this.value)" />*@
            </div>

            <div id="replenish" class="paymentsMove title_cart main_flex__nowrap flex__jcontent_between flex__align-items_center">
                <p><a href="#payments">Пополнить счет</a></p>

            </div>

            <div id="withdraw" class="paymentsMove title_cart main_flex__nowrap flex__jcontent_between flex__align-items_center">
                <p><a href="#payments">Вывести деньги</a></p>

            </div>

            <div id="transfer" class="paymentsMove title_cart main_flex__nowrap flex__jcontent_between flex__align-items_center">
                <p><a href="#payments">Перевести деньги на другой счет</a></p>

            </div>

            @if (User.IsInRole("admin"))
            {
                <p><a href="/Admin/Index">Перейти к панели администратора</a></p>
            }
        </div>

        <button id="order" type="button"><a href="/Account/Logout">Exit</a></button>
    </div>
}


<div id="modal_box_signin">
    <div id="close_modal_signin">
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
             viewBox="0 0 212.982 212.982" style="enable-background:new 0 0 212.982 212.982;" xml:space="preserve">
        <path style="fill-rule:evenodd;clip-rule:evenodd;" d="M131.804,106.491l75.936-75.936c6.99-6.99,6.99-18.323,0-25.312
		c-6.99-6.99-18.322-6.99-25.312,0l-75.937,75.937L30.554,5.242c-6.99-6.99-18.322-6.99-25.312,0c-6.989,6.99-6.989,18.323,0,25.312
		l75.937,75.936L5.242,182.427c-6.989,6.99-6.989,18.323,0,25.312c6.99,6.99,18.322,6.99,25.312,0l75.937-75.937l75.937,75.937
		c6.989,6.99,18.322,6.99,25.312,0c6.99-6.99,6.99-18.322,0-25.312L131.804,106.491z" />































































































































































































































































































































































































































































































































</svg>
    </div>
    <div id="content_modal_signin">
        <form id="form_call_signin" method="post" action="~/Account/Login" asp-anti-forgery="true">
            <div class="validation" asp-validation-summary="ModelOnly" />
            <h1 style="text-align: center"> Sign In</h1>
            <input asp-for="loginModel.Email" id="username" placeholder="Email" name="Email" autofocus="" required="" type="text">
            <span asp-validation-for="loginModel.Email"></span>
            <input asp-for="loginModel.Password" id="password" placeholder="Password" name="Password" required="" type="password">
            <span asp-validation-for="loginModel.Password"></span>
            <button type="submit" id="submit" class="blue_btn btn">Sign In</button>

            <a href="">Forget password?</a><a id="leha" asp-action="Register" asp-controller="Account">Sign Up</a>
        </form>
    </div>
</div>


<div id="modal_box_signup">
    <div id="close_modal_signup">
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
             viewBox="0 0 212.982 212.982" style="enable-background:new 0 0 212.982 212.982;" xml:space="preserve">
        <path style="fill-rule:evenodd;clip-rule:evenodd;" d="M131.804,106.491l75.936-75.936c6.99-6.99,6.99-18.323,0-25.312
		c-6.99-6.99-18.322-6.99-25.312,0l-75.937,75.937L30.554,5.242c-6.99-6.99-18.322-6.99-25.312,0c-6.989,6.99-6.989,18.323,0,25.312
		l75.937,75.936L5.242,182.427c-6.989,6.99-6.989,18.323,0,25.312c6.99,6.99,18.322,6.99,25.312,0l75.937-75.937l75.937,75.937
		c6.989,6.99,18.322,6.99,25.312,0c6.99-6.99,6.99-18.322,0-25.312L131.804,106.491z" />































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































</svg>
    </div>
    <div id="content_modal_signup">
        <form id="form_call_signup" method="post" action="~/Account/Register">
            <h1>Sign Up</h1>
            <input placeholder="Login" name="Login" autofocus="" required="" type="text">
            <input placeholder="Email" name="Email" autofocus="" required="" type="text">
            <input placeholder="Password" name="Password" required="" type="password">
            <input placeholder="Confirm Password" name="ConfirmPassword" required="" type="password">
            <button type="submit" id="submit" class="blue_btn btn">Sign Up</button>

            <a href="">Are you already registered?</a><a id="leha" asp-action="Login" asp-controller="Account">Sign In</a>
        </form>
    </div>
</div>

<div id="black_fill"></div>
